<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>render-image.html - ybbond - My site. The main domain
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="ybbond Atom Feed" href="../../../../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>ybbond</h1><span class="desc">My site. The main domain
</span></td></tr><tr><td></td><td>
<a href="../../../../index.html">Log</a> | <a href="../../../../files.html">Files</a> | <a href="../../../../refs.html">Refs</a> | <a href="../../../../file/README.md.html">README</a> | <a href="../../../../file/LICENSE.md.html">LICENSE</a> | <a href="../../../../file/CC-LICENSE.md.html">CC-LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> render-image.html (2368B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> {{ $image := (.Page.Resources.GetMatch  .Destination) }}{{ $alt := .Text }}{{ $title := &quot;&quot; }} {{- if ne .Text &quot;&quot; }}{{ $title = .Text }}{{- end }}{{ if ne .Title &quot;&quot; -}}{{ $title = .Title }}{{ end -}}{{ $ratio := &quot;r68&quot; }}{{ $orientation := &quot;portrait&quot; }}{{ $size := &quot;normal&quot; }}
<a href="#l2" class="line" id="l2">      2</a> 
<a href="#l3" class="line" id="l3">      3</a> {{- if gt $image.Width $image.Height -}}{{ $orientation = &quot;landscape&quot; }} {{ if gt &quot;0.58&quot; (div (float $image.Height) $image.Width) }}{{ $ratio = &quot;r58&quot; }}{{ end }} {{ if gt &quot;0.48&quot; (div (float $image.Height) $image.Width) }}{{ $ratio = &quot;r48&quot; }}{{ end }} {{ if gt (div (float $image.Height) $image.Width) &quot;0.68&quot; }}{{ $ratio = &quot;r68&quot; }}{{ end }} {{ if gt (div (float $image.Height) $image.Width) &quot;0.72&quot; }}{{ $ratio = &quot;r72&quot; }}{{ end }} {{ if gt (div (float $image.Height) $image.Width) &quot;0.79&quot; }}{{ $ratio = &quot;r79&quot; }}{{ end }} {{- end -}}
<a href="#l4" class="line" id="l4">      4</a> {{ if eq (div (float $image.Height) $image.Width) 1.00 }}{{ $ratio = &quot;r1&quot; }}{{ end }}{{- if eq $orientation &quot;portrait&quot; -}}{{ if gt &quot;300&quot; $image.Height -}}{{ $size = &quot;small&quot; }}{{ end -}}{{- end -}}{{- if eq $orientation &quot;landscape&quot; -}}{{ if gt &quot;300&quot; $image.Width -}}{{ $size = &quot;small&quot; }}{{ end -}}{{- end -}}
<a href="#l5" class="line" id="l5">      5</a> 
<a href="#l6" class="line" id="l6">      6</a> &lt;figure class=&quot;image-figure&quot;&gt;
<a href="#l7" class="line" id="l7">      7</a>   &lt;center&gt;
<a href="#l8" class="line" id="l8">      8</a>     &lt;div style=&quot;display:flex;flex-direction:column;justify-content:space-between;&quot; class=&quot;{{ $orientation }} {{ $ratio }} {{ $size }}&quot;&gt;
<a href="#l9" class="line" id="l9">      9</a>       &lt;div style=&quot;flex:1;display:flex;flex-direction:column;justify-content:center;&quot;&gt;&lt;img
<a href="#l10" class="line" id="l10">     10</a>           src=&quot;{{ $image.RelPermalink }}&quot;
<a href="#l11" class="line" id="l11">     11</a>           style=&quot;max-width: 100%; height: auto;&quot;
<a href="#l12" class="line" id="l12">     12</a>           alt={{ .Text | safeHTML }}
<a href="#l13" class="line" id="l13">     13</a>           title={{ .Text | safeHTML }}
<a href="#l14" class="line" id="l14">     14</a>         /&gt;&lt;/div&gt;
<a href="#l15" class="line" id="l15">     15</a>       &lt;figcaption&gt;
<a href="#l16" class="line" id="l16">     16</a>         &lt;em&gt;{{ .Text | safeHTML }} &amp;nbsp;
<a href="#l17" class="line" id="l17">     17</a>           &lt;a title=&quot;Link to open full image.&quot; href=&quot;{{ $image.RelPermalink }}&quot; class=&quot;view-full-size no-outline&quot;&gt;
<a href="#l18" class="line" id="l18">     18</a>             &lt;wrap&gt;&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 120 120&quot;&gt;&lt;path d=&quot;M71.2 48.8c1.6 1.6 4.1 1.6 5.6 0L112 13.6V32c0 2.4 2.2 4.4 4.7 3.9 2-.3 3.3-2.2 3.3-4.2V4c0-2.2-1.8-4-4-4H88.2c-2 0-3.8 1.4-4.2 3.3-.4 2.5 1.6 4.7 4 4.7h18.4L71.2 43.2c-1.6 1.6-1.6 4.1 0 5.6zm20.8-.9V104c0 4.4-3.6 8-8 8H16c-4.4 0-8-3.6-8-8V36c0-4.4 3.6-8 8-8h56.1c1.1 0 2.1-.4 2.8-1.2l5.1-5.1c.6-.6.2-1.7-.7-1.7H12C5.4 20 0 25.4 0 32v76c0 6.6 5.4 12 12 12h76c6.6 0 12-5.4 12-12V40.6c0-.9-1.1-1.3-1.7-.7L93.2 45c-.8.8-1.2 1.8-1.2 2.9z&quot;&gt;&lt;/path&gt;&lt;/svg&gt;&lt;/wrap&gt;
<a href="#l19" class="line" id="l19">     19</a>           &lt;/a&gt;
<a href="#l20" class="line" id="l20">     20</a>         &lt;/em&gt;
<a href="#l21" class="line" id="l21">     21</a>       &lt;/figcaption&gt;
<a href="#l22" class="line" id="l22">     22</a>     &lt;/div&gt;
<a href="#l23" class="line" id="l23">     23</a>   &lt;/center&gt;
<a href="#l24" class="line" id="l24">     24</a> &lt;/figure&gt;
</pre>
</div>
</body>
</html>
