<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>goatcounter.html - ybbond - My site. The main domain
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="ybbond Atom Feed" href="../../../../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>ybbond</h1><span class="desc">My site. The main domain
</span></td></tr><tr><td></td><td>
<a href="../../../../index.html">Log</a> | <a href="../../../../files.html">Files</a> | <a href="../../../../refs.html">Refs</a> | <a href="../../../../file/README.md.html">README</a> | <a href="../../../../file/LICENSE.md.html">LICENSE</a> | <a href="../../../../file/CC-LICENSE.md.html">CC-LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> goatcounter.html (7954B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> &lt;script&gt;
<a href="#l2" class="line" id="l2">      2</a> window.goatcounter = {endpoint: &#39;https://stats.ybbond.id/count&#39;}
<a href="#l3" class="line" id="l3">      3</a> 
<a href="#l4" class="line" id="l4">      4</a> // GoatCounter: https://www.goatcounter.com
<a href="#l5" class="line" id="l5">      5</a> // This file (and *only* this file) is released under the ISC license:
<a href="#l6" class="line" id="l6">      6</a> // https://opensource.org/licenses/ISC
<a href="#l7" class="line" id="l7">      7</a> (function() {
<a href="#l8" class="line" id="l8">      8</a> 	&#39;use strict&#39;;
<a href="#l9" class="line" id="l9">      9</a> 
<a href="#l10" class="line" id="l10">     10</a> 	if (window.goatcounter &amp;&amp; window.goatcounter.vars)  // Compatibility
<a href="#l11" class="line" id="l11">     11</a> 		window.goatcounter = window.goatcounter.vars
<a href="#l12" class="line" id="l12">     12</a> 	else
<a href="#l13" class="line" id="l13">     13</a> 		window.goatcounter = window.goatcounter || {}
<a href="#l14" class="line" id="l14">     14</a> 
<a href="#l15" class="line" id="l15">     15</a> 	// Get all data we&#39;re going to send off to the counter endpoint.
<a href="#l16" class="line" id="l16">     16</a> 	var get_data = function(vars) {
<a href="#l17" class="line" id="l17">     17</a> 		var data = {
<a href="#l18" class="line" id="l18">     18</a> 			p: (vars.path     === undefined ? goatcounter.path     : vars.path),
<a href="#l19" class="line" id="l19">     19</a> 			r: (vars.referrer === undefined ? goatcounter.referrer : vars.referrer),
<a href="#l20" class="line" id="l20">     20</a> 			t: (vars.title    === undefined ? goatcounter.title    : vars.title),
<a href="#l21" class="line" id="l21">     21</a> 			e: !!(vars.event || goatcounter.event),
<a href="#l22" class="line" id="l22">     22</a> 			s: [window.screen.width, window.screen.height, (window.devicePixelRatio || 1)],
<a href="#l23" class="line" id="l23">     23</a> 			b: is_bot(),
<a href="#l24" class="line" id="l24">     24</a> 			q: location.search,
<a href="#l25" class="line" id="l25">     25</a> 		}
<a href="#l26" class="line" id="l26">     26</a> 
<a href="#l27" class="line" id="l27">     27</a> 		var rcb, pcb, tcb  // Save callbacks to apply later.
<a href="#l28" class="line" id="l28">     28</a> 		if (typeof(data.r) === &#39;function&#39;) rcb = data.r
<a href="#l29" class="line" id="l29">     29</a> 		if (typeof(data.t) === &#39;function&#39;) tcb = data.t
<a href="#l30" class="line" id="l30">     30</a> 		if (typeof(data.p) === &#39;function&#39;) pcb = data.p
<a href="#l31" class="line" id="l31">     31</a> 
<a href="#l32" class="line" id="l32">     32</a> 		if (is_empty(data.r)) data.r = document.referrer
<a href="#l33" class="line" id="l33">     33</a> 		if (is_empty(data.t)) data.t = document.title
<a href="#l34" class="line" id="l34">     34</a> 		if (is_empty(data.p)) data.p = get_path()
<a href="#l35" class="line" id="l35">     35</a> 
<a href="#l36" class="line" id="l36">     36</a> 		if (rcb) data.r = rcb(data.r)
<a href="#l37" class="line" id="l37">     37</a> 		if (tcb) data.t = tcb(data.t)
<a href="#l38" class="line" id="l38">     38</a> 		if (pcb) data.p = pcb(data.p)
<a href="#l39" class="line" id="l39">     39</a> 		return data
<a href="#l40" class="line" id="l40">     40</a> 	}
<a href="#l41" class="line" id="l41">     41</a> 
<a href="#l42" class="line" id="l42">     42</a> 	// Check if a value is &quot;empty&quot; for the purpose of get_data().
<a href="#l43" class="line" id="l43">     43</a> 	var is_empty = function(v) { return v === null || v === undefined || typeof(v) === &#39;function&#39; }
<a href="#l44" class="line" id="l44">     44</a> 
<a href="#l45" class="line" id="l45">     45</a> 	// See if this looks like a bot; there is some additional filtering on the
<a href="#l46" class="line" id="l46">     46</a> 	// backend, but these properties can&#39;t be fetched from there.
<a href="#l47" class="line" id="l47">     47</a> 	var is_bot = function() {
<a href="#l48" class="line" id="l48">     48</a> 		// Headless browsers are probably a bot.
<a href="#l49" class="line" id="l49">     49</a> 		var w = window, d = document
<a href="#l50" class="line" id="l50">     50</a> 		if (w.callPhantom || w._phantom || w.phantom)
<a href="#l51" class="line" id="l51">     51</a> 			return 150
<a href="#l52" class="line" id="l52">     52</a> 		if (w.__nightmare)
<a href="#l53" class="line" id="l53">     53</a> 			return 151
<a href="#l54" class="line" id="l54">     54</a> 		if (d.__selenium_unwrapped || d.__webdriver_evaluate || d.__driver_evaluate)
<a href="#l55" class="line" id="l55">     55</a> 			return 152
<a href="#l56" class="line" id="l56">     56</a> 		if (navigator.webdriver)
<a href="#l57" class="line" id="l57">     57</a> 			return 153
<a href="#l58" class="line" id="l58">     58</a> 		return 0
<a href="#l59" class="line" id="l59">     59</a> 	}
<a href="#l60" class="line" id="l60">     60</a> 
<a href="#l61" class="line" id="l61">     61</a> 	// Object to urlencoded string, starting with a ?.
<a href="#l62" class="line" id="l62">     62</a> 	var urlencode = function(obj) {
<a href="#l63" class="line" id="l63">     63</a> 		var p = []
<a href="#l64" class="line" id="l64">     64</a> 		for (var k in obj)
<a href="#l65" class="line" id="l65">     65</a> 			if (obj[k] !== &#39;&#39; &amp;&amp; obj[k] !== null &amp;&amp; obj[k] !== undefined &amp;&amp; obj[k] !== false)
<a href="#l66" class="line" id="l66">     66</a> 				p.push(encodeURIComponent(k) + &#39;=&#39; + encodeURIComponent(obj[k]))
<a href="#l67" class="line" id="l67">     67</a> 		return &#39;?&#39; + p.join(&#39;&amp;&#39;)
<a href="#l68" class="line" id="l68">     68</a> 	}
<a href="#l69" class="line" id="l69">     69</a> 
<a href="#l70" class="line" id="l70">     70</a> 	// Show a warning in the console.
<a href="#l71" class="line" id="l71">     71</a> 	var warn = function(msg) {
<a href="#l72" class="line" id="l72">     72</a> 		if (console &amp;&amp; &#39;warn&#39; in console)
<a href="#l73" class="line" id="l73">     73</a> 			console.warn(&#39;goatcounter: &#39; + msg)
<a href="#l74" class="line" id="l74">     74</a> 	}
<a href="#l75" class="line" id="l75">     75</a> 
<a href="#l76" class="line" id="l76">     76</a> 	// Get the endpoint to send requests to.
<a href="#l77" class="line" id="l77">     77</a> 	var get_endpoint = function() {
<a href="#l78" class="line" id="l78">     78</a> 		var s = document.querySelector(&#39;script[data-goatcounter]&#39;);
<a href="#l79" class="line" id="l79">     79</a> 		if (s &amp;&amp; s.dataset.goatcounter)
<a href="#l80" class="line" id="l80">     80</a> 			return s.dataset.goatcounter
<a href="#l81" class="line" id="l81">     81</a> 		return (goatcounter.endpoint || window.counter)  // counter is for compat; don&#39;t use.
<a href="#l82" class="line" id="l82">     82</a> 	}
<a href="#l83" class="line" id="l83">     83</a> 
<a href="#l84" class="line" id="l84">     84</a> 	// Get current path.
<a href="#l85" class="line" id="l85">     85</a> 	var get_path = function() {
<a href="#l86" class="line" id="l86">     86</a> 		var loc = location,
<a href="#l87" class="line" id="l87">     87</a> 			c = document.querySelector(&#39;link[rel=&quot;canonical&quot;][href]&#39;)
<a href="#l88" class="line" id="l88">     88</a> 		if (c) {  // May be relative or point to different domain.
<a href="#l89" class="line" id="l89">     89</a> 			var a = document.createElement(&#39;a&#39;)
<a href="#l90" class="line" id="l90">     90</a> 			a.href = c.href
<a href="#l91" class="line" id="l91">     91</a> 			if (a.hostname.replace(/^www\./, &#39;&#39;) === location.hostname.replace(/^www\./, &#39;&#39;))
<a href="#l92" class="line" id="l92">     92</a> 				loc = a
<a href="#l93" class="line" id="l93">     93</a> 		}
<a href="#l94" class="line" id="l94">     94</a> 		return (loc.pathname + loc.search) || &#39;/&#39;
<a href="#l95" class="line" id="l95">     95</a> 	}
<a href="#l96" class="line" id="l96">     96</a> 
<a href="#l97" class="line" id="l97">     97</a> 	// Filter some requests that we (probably) don&#39;t want to count.
<a href="#l98" class="line" id="l98">     98</a> 	goatcounter.filter = function() {
<a href="#l99" class="line" id="l99">     99</a> 		if (&#39;visibilityState&#39; in document &amp;&amp; (document.visibilityState === &#39;prerender&#39; || document.visibilityState === &#39;hidden&#39;))
<a href="#l100" class="line" id="l100">    100</a> 			return &#39;visibilityState&#39;
<a href="#l101" class="line" id="l101">    101</a> 		if (!goatcounter.allow_frame &amp;&amp; location !== parent.location)
<a href="#l102" class="line" id="l102">    102</a> 			return &#39;frame&#39;
<a href="#l103" class="line" id="l103">    103</a> 		if (!goatcounter.allow_local &amp;&amp; location.hostname.match(/(localhost$|^127\.|^10\.|^172\.(1[6-9]|2[0-9]|3[0-1])\.|^192\.168\.)/))
<a href="#l104" class="line" id="l104">    104</a> 			return &#39;localhost&#39;
<a href="#l105" class="line" id="l105">    105</a> 		if (!goatcounter.allow_local &amp;&amp; location.protocol === &#39;file:&#39;)
<a href="#l106" class="line" id="l106">    106</a> 			return &#39;localfile&#39;
<a href="#l107" class="line" id="l107">    107</a> 		if (localStorage &amp;&amp; localStorage.getItem(&#39;skipgc&#39;) === &#39;t&#39;)
<a href="#l108" class="line" id="l108">    108</a> 			return &#39;disabled with #toggle-goatcounter&#39;
<a href="#l109" class="line" id="l109">    109</a> 		return false
<a href="#l110" class="line" id="l110">    110</a> 	}
<a href="#l111" class="line" id="l111">    111</a> 
<a href="#l112" class="line" id="l112">    112</a> 	// Get URL to send to GoatCounter.
<a href="#l113" class="line" id="l113">    113</a> 	window.goatcounter.url = function(vars) {
<a href="#l114" class="line" id="l114">    114</a> 		var data = get_data(vars || {})
<a href="#l115" class="line" id="l115">    115</a> 		if (data.p === null)  // null from user callback.
<a href="#l116" class="line" id="l116">    116</a> 			return
<a href="#l117" class="line" id="l117">    117</a> 		data.rnd = Math.random().toString(36).substr(2, 5)  // Browsers don&#39;t always listen to Cache-Control.
<a href="#l118" class="line" id="l118">    118</a> 
<a href="#l119" class="line" id="l119">    119</a> 		var endpoint = get_endpoint()
<a href="#l120" class="line" id="l120">    120</a> 		if (!endpoint)
<a href="#l121" class="line" id="l121">    121</a> 			return warn(&#39;no endpoint found&#39;)
<a href="#l122" class="line" id="l122">    122</a> 
<a href="#l123" class="line" id="l123">    123</a> 		return endpoint + urlencode(data)
<a href="#l124" class="line" id="l124">    124</a> 	}
<a href="#l125" class="line" id="l125">    125</a> 
<a href="#l126" class="line" id="l126">    126</a> 	// Count a hit.
<a href="#l127" class="line" id="l127">    127</a> 	window.goatcounter.count = function(vars) {
<a href="#l128" class="line" id="l128">    128</a> 		var f = goatcounter.filter()
<a href="#l129" class="line" id="l129">    129</a> 		if (f)
<a href="#l130" class="line" id="l130">    130</a> 			return warn(&#39;not counting because of: &#39; + f)
<a href="#l131" class="line" id="l131">    131</a> 
<a href="#l132" class="line" id="l132">    132</a> 		var url = goatcounter.url(vars)
<a href="#l133" class="line" id="l133">    133</a> 		if (!url)
<a href="#l134" class="line" id="l134">    134</a> 			return warn(&#39;not counting because path callback returned null&#39;)
<a href="#l135" class="line" id="l135">    135</a> 
<a href="#l136" class="line" id="l136">    136</a> 		var img = document.createElement(&#39;img&#39;)
<a href="#l137" class="line" id="l137">    137</a> 		img.src = url
<a href="#l138" class="line" id="l138">    138</a> 		img.style.position = &#39;absolute&#39;  // Affect layout less.
<a href="#l139" class="line" id="l139">    139</a> 		img.setAttribute(&#39;alt&#39;, &#39;&#39;)
<a href="#l140" class="line" id="l140">    140</a> 		img.setAttribute(&#39;aria-hidden&#39;, &#39;true&#39;)
<a href="#l141" class="line" id="l141">    141</a> 
<a href="#l142" class="line" id="l142">    142</a> 		var rm = function() { if (img &amp;&amp; img.parentNode) img.parentNode.removeChild(img) }
<a href="#l143" class="line" id="l143">    143</a> 		setTimeout(rm, 3000)  // In case the onload isn&#39;t triggered.
<a href="#l144" class="line" id="l144">    144</a> 		img.addEventListener(&#39;load&#39;, rm, false)
<a href="#l145" class="line" id="l145">    145</a> 		document.body.appendChild(img)
<a href="#l146" class="line" id="l146">    146</a> 	}
<a href="#l147" class="line" id="l147">    147</a> 
<a href="#l148" class="line" id="l148">    148</a> 	// Get a query parameter.
<a href="#l149" class="line" id="l149">    149</a> 	window.goatcounter.get_query = function(name) {
<a href="#l150" class="line" id="l150">    150</a> 		var s = location.search.substr(1).split(&#39;&amp;&#39;)
<a href="#l151" class="line" id="l151">    151</a> 		for (var i = 0; i &lt; s.length; i++)
<a href="#l152" class="line" id="l152">    152</a> 			if (s[i].toLowerCase().indexOf(name.toLowerCase() + &#39;=&#39;) === 0)
<a href="#l153" class="line" id="l153">    153</a> 				return s[i].substr(name.length + 1)
<a href="#l154" class="line" id="l154">    154</a> 	}
<a href="#l155" class="line" id="l155">    155</a> 
<a href="#l156" class="line" id="l156">    156</a> 	// Track click events.
<a href="#l157" class="line" id="l157">    157</a> 	window.goatcounter.bind_events = function() {
<a href="#l158" class="line" id="l158">    158</a> 		if (!document.querySelectorAll)  // Just in case someone uses an ancient browser.
<a href="#l159" class="line" id="l159">    159</a> 			return
<a href="#l160" class="line" id="l160">    160</a> 
<a href="#l161" class="line" id="l161">    161</a> 		var send = function(elem) {
<a href="#l162" class="line" id="l162">    162</a> 			return function() {
<a href="#l163" class="line" id="l163">    163</a> 				goatcounter.count({
<a href="#l164" class="line" id="l164">    164</a> 					event:    true,
<a href="#l165" class="line" id="l165">    165</a> 					path:     (elem.dataset.goatcounterClick || elem.name || elem.id || &#39;&#39;),
<a href="#l166" class="line" id="l166">    166</a> 					title:    (elem.dataset.goatcounterTitle || elem.title || (elem.innerHTML || &#39;&#39;).substr(0, 200) || &#39;&#39;),
<a href="#l167" class="line" id="l167">    167</a> 					referrer: (elem.dataset.goatcounterReferrer || elem.dataset.goatcounterReferral || &#39;&#39;),
<a href="#l168" class="line" id="l168">    168</a> 				})
<a href="#l169" class="line" id="l169">    169</a> 			}
<a href="#l170" class="line" id="l170">    170</a> 		}
<a href="#l171" class="line" id="l171">    171</a> 
<a href="#l172" class="line" id="l172">    172</a> 		Array.prototype.slice.call(document.querySelectorAll(&quot;*[data-goatcounter-click]&quot;)).forEach(function(elem) {
<a href="#l173" class="line" id="l173">    173</a> 			if (elem.dataset.goatcounterBound)
<a href="#l174" class="line" id="l174">    174</a> 				return
<a href="#l175" class="line" id="l175">    175</a> 			var f = send(elem)
<a href="#l176" class="line" id="l176">    176</a> 			elem.addEventListener(&#39;click&#39;, f, false)
<a href="#l177" class="line" id="l177">    177</a> 			elem.addEventListener(&#39;auxclick&#39;, f, false)  // Middle click.
<a href="#l178" class="line" id="l178">    178</a> 			elem.dataset.goatcounterBound = &#39;true&#39;
<a href="#l179" class="line" id="l179">    179</a> 		})
<a href="#l180" class="line" id="l180">    180</a> 	}
<a href="#l181" class="line" id="l181">    181</a> 
<a href="#l182" class="line" id="l182">    182</a> 	// Add a &quot;visitor counter&quot; frame or image.
<a href="#l183" class="line" id="l183">    183</a> 	window.goatcounter.visit_count = function(opt) {
<a href="#l184" class="line" id="l184">    184</a> 		opt        = opt        || {}
<a href="#l185" class="line" id="l185">    185</a> 		opt.type   = opt.type   || &#39;html&#39;
<a href="#l186" class="line" id="l186">    186</a> 		opt.append = opt.append || &#39;body&#39;
<a href="#l187" class="line" id="l187">    187</a> 		opt.path   = opt.path   || get_path()
<a href="#l188" class="line" id="l188">    188</a> 		opt.attr   = opt.attr   || {width: &#39;200&#39;, height: (opt.no_branding ? &#39;60&#39; : &#39;80&#39;)}
<a href="#l189" class="line" id="l189">    189</a> 
<a href="#l190" class="line" id="l190">    190</a> 		opt.attr[&#39;src&#39;] = get_endpoint() + &#39;er/&#39; + encodeURIComponent(opt.path) + &#39;.&#39; + opt.type + &#39;?&#39;
<a href="#l191" class="line" id="l191">    191</a> 		if (opt.no_branding) opt.attr[&#39;src&#39;] += &#39;&amp;no_branding=1&#39;
<a href="#l192" class="line" id="l192">    192</a> 		if (opt.style)       opt.attr[&#39;src&#39;] += &#39;&amp;style=&#39; + encodeURIComponent(opt.style)
<a href="#l193" class="line" id="l193">    193</a> 
<a href="#l194" class="line" id="l194">    194</a> 		var tag = {png: &#39;img&#39;, svg: &#39;img&#39;, html: &#39;iframe&#39;}[opt.type]
<a href="#l195" class="line" id="l195">    195</a> 		if (!tag)
<a href="#l196" class="line" id="l196">    196</a> 			return warn(&#39;visit_count: unknown type: &#39; + opt.type)
<a href="#l197" class="line" id="l197">    197</a> 
<a href="#l198" class="line" id="l198">    198</a> 		if (opt.type === &#39;html&#39;) {
<a href="#l199" class="line" id="l199">    199</a> 			opt.attr[&#39;frameborder&#39;] = &#39;0&#39;
<a href="#l200" class="line" id="l200">    200</a> 			opt.attr[&#39;scrolling&#39;]   = &#39;no&#39;
<a href="#l201" class="line" id="l201">    201</a> 		}
<a href="#l202" class="line" id="l202">    202</a> 
<a href="#l203" class="line" id="l203">    203</a> 		var d = document.createElement(tag)
<a href="#l204" class="line" id="l204">    204</a> 		for (var k in opt.attr)
<a href="#l205" class="line" id="l205">    205</a> 			d.setAttribute(k, opt.attr[k])
<a href="#l206" class="line" id="l206">    206</a> 
<a href="#l207" class="line" id="l207">    207</a> 		var p = document.querySelector(opt.append)
<a href="#l208" class="line" id="l208">    208</a> 		if (!p)
<a href="#l209" class="line" id="l209">    209</a> 			return warn(&#39;visit_count: append not found: &#39; + opt.append)
<a href="#l210" class="line" id="l210">    210</a> 		p.appendChild(d)
<a href="#l211" class="line" id="l211">    211</a> 	}
<a href="#l212" class="line" id="l212">    212</a> 
<a href="#l213" class="line" id="l213">    213</a> 	// Make it easy to skip your own views.
<a href="#l214" class="line" id="l214">    214</a> 	if (location.hash === &#39;#toggle-goatcounter&#39;)
<a href="#l215" class="line" id="l215">    215</a> 		if (localStorage.getItem(&#39;skipgc&#39;) === &#39;t&#39;) {
<a href="#l216" class="line" id="l216">    216</a> 			localStorage.removeItem(&#39;skipgc&#39;, &#39;t&#39;)
<a href="#l217" class="line" id="l217">    217</a> 			alert(&#39;GoatCounter tracking is now ENABLED in this browser.&#39;)
<a href="#l218" class="line" id="l218">    218</a> 		}
<a href="#l219" class="line" id="l219">    219</a> 		else {
<a href="#l220" class="line" id="l220">    220</a> 			localStorage.setItem(&#39;skipgc&#39;, &#39;t&#39;)
<a href="#l221" class="line" id="l221">    221</a> 			alert(&#39;GoatCounter tracking is now DISABLED in this browser until &#39; + location + &#39; is loaded again.&#39;)
<a href="#l222" class="line" id="l222">    222</a> 		}
<a href="#l223" class="line" id="l223">    223</a> 
<a href="#l224" class="line" id="l224">    224</a> 	if (!goatcounter.no_onload) {
<a href="#l225" class="line" id="l225">    225</a> 		var go = function() {
<a href="#l226" class="line" id="l226">    226</a> 			goatcounter.count()
<a href="#l227" class="line" id="l227">    227</a> 			if (!goatcounter.no_events)
<a href="#l228" class="line" id="l228">    228</a> 				goatcounter.bind_events()
<a href="#l229" class="line" id="l229">    229</a> 		}
<a href="#l230" class="line" id="l230">    230</a> 
<a href="#l231" class="line" id="l231">    231</a> 		if (document.body === null)
<a href="#l232" class="line" id="l232">    232</a> 			document.addEventListener(&#39;DOMContentLoaded&#39;, function() { go() }, false)
<a href="#l233" class="line" id="l233">    233</a> 		else
<a href="#l234" class="line" id="l234">    234</a> 			go()
<a href="#l235" class="line" id="l235">    235</a> 	}
<a href="#l236" class="line" id="l236">    236</a> })();
<a href="#l237" class="line" id="l237">    237</a> &lt;/script&gt;
<a href="#l238" class="line" id="l238">    238</a> &lt;noscript&gt;&lt;img src=&quot;https://stats.ybbond.id/count?p=/test-img&quot;&gt;&lt;/noscript&gt;
</pre>
</div>
</body>
</html>
