<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>style: general responsiveness - ybbond - My site. The main domain
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="ybbond Atom Feed" href="../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>ybbond</h1><span class="desc">My site. The main domain
</span></td></tr><tr><td></td><td>
<a href="../index.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/README.md.html">README</a> | <a href="../file/LICENSE.md.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<div id="pre-scroll">
<pre><b>commit</b> <a href="../commit/08bb294cbed3435c8818b683ace4ec0acbaa0292.html">08bb294cbed3435c8818b683ace4ec0acbaa0292</a>
<b>parent</b> <a href="../commit/b77a6e2930353012e4d206211b8da9687cd27d6c.html">b77a6e2930353012e4d206211b8da9687cd27d6c</a>
<b>Author:</b> Yohanes Bandung &lt;<a href="mailto:bandungpenting@gmail.com">bandungpenting@gmail.com</a>&gt;
<b>Date:</b>   Tue, 28 Apr 2020 18:07:43 +0700

style: general responsiveness

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">assets/styles.scss</a></td><td> | </td><td class="num">68</td><td><span class="i">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d">------</span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">layouts/_default/list.html</a></td><td> | </td><td class="num">2</td><td><span class="i">+</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h2">layouts/index.html</a></td><td> | </td><td class="num">28</td><td><span class="i">+++++++++++++++</span><span class="d">-------------</span></td></tr>
<tr><td class="M">M</td><td><a href="#h3">layouts/partials/footer/footer.html</a></td><td> | </td><td class="num">8</td><td><span class="i">++++</span><span class="d">----</span></td></tr>
<tr><td class="M">M</td><td><a href="#h4">layouts/partials/header/header.html</a></td><td> | </td><td class="num">21</td><td><span class="i">+++++++++++++++++++</span><span class="d">--</span></td></tr>
<tr><td class="D">D</td><td><a href="#h5">layouts/partials/header/menu.html</a></td><td> | </td><td class="num">15</td><td><span class="i"></span><span class="d">---------------</span></td></tr>
</table></pre></div><p>6 files changed, 101 insertions(<span id="plus">+</span>), 41 deletions(<span id="min">-</span>)</p>
<div id="pre-scroll">
<pre>
<b>diff --git a/<a id="h0" href="../file/assets/styles.scss.html">assets/styles.scss</a> b/<a href="../file/assets/styles.scss.html">assets/styles.scss</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -7,6 +7,7 @@ html {
</a>   color: $color-text;
   font-family: $font-text;
   line-height: 1.6;
<a href="#h0-0-3" id="h0-0-3" class="i">+  font-size: 16px;
</a> }
 
 body {
<a href="#h0-1" id="h0-1" class="h">@@ -14,11 +15,32 @@ body {
</a>   margin: 0 auto;
 }
 
<a href="#h0-1-3" id="h0-1-3" class="i">+@media (max-width: 599px) {
</a><a href="#h0-1-4" id="h0-1-4" class="i">+  html {
</a><a href="#h0-1-5" id="h0-1-5" class="i">+    font-size: 15px;
</a><a href="#h0-1-6" id="h0-1-6" class="i">+  }
</a><a href="#h0-1-7" id="h0-1-7" class="i">+  body {
</a><a href="#h0-1-8" id="h0-1-8" class="i">+    padding: 0 10px;
</a><a href="#h0-1-9" id="h0-1-9" class="i">+    margin: 0;
</a><a href="#h0-1-10" id="h0-1-10" class="i">+  }
</a><a href="#h0-1-11" id="h0-1-11" class="i">+  hr {
</a><a href="#h0-1-12" id="h0-1-12" class="i">+    width: 90%;
</a><a href="#h0-1-13" id="h0-1-13" class="i">+  }
</a><a href="#h0-1-14" id="h0-1-14" class="i">+}
</a><a href="#h0-1-15" id="h0-1-15" class="i">+
</a> h1, h2, h3, h4, h5, h6 {
   color: $color-green;
   font-family: $font-mono;
 }
 
<a href="#h0-1-21" id="h0-1-21" class="i">+h1 {
</a><a href="#h0-1-22" id="h0-1-22" class="i">+  font-size: 2rem;
</a><a href="#h0-1-23" id="h0-1-23" class="i">+}
</a><a href="#h0-1-24" id="h0-1-24" class="i">+
</a><a href="#h0-1-25" id="h0-1-25" class="i">+h1, h2, h3 {
</a><a href="#h0-1-26" id="h0-1-26" class="i">+  line-height: 1.3;
</a><a href="#h0-1-27" id="h0-1-27" class="i">+}
</a><a href="#h0-1-28" id="h0-1-28" class="i">+
</a> a {
   text-decoration: none;
   color: $color-blue;
<a href="#h0-2" id="h0-2" class="h">@@ -28,9 +50,6 @@ a {
</a>   .link-white {
     color: $color-text;
   }
<a href="#h0-2-3" id="h0-2-3" class="d">-  &amp;.full-width {
</a><a href="#h0-2-4" id="h0-2-4" class="d">-    width: 100%;
</a><a href="#h0-2-5" id="h0-2-5" class="d">-  }
</a>   &amp;.button {
     display: inline-block;     
     position: relative;    
<a href="#h0-3" id="h0-3" class="h">@@ -43,6 +62,11 @@ a {
</a>       margin-left: -0.5em;
     }
   }
<a href="#h0-3-3" id="h0-3-3" class="i">+  &amp;.full-width {
</a><a href="#h0-3-4" id="h0-3-4" class="i">+    width: calc(100% - 1.4em);
</a><a href="#h0-3-5" id="h0-3-5" class="i">+    margin: 0;
</a><a href="#h0-3-6" id="h0-3-6" class="i">+    align-self: center;
</a><a href="#h0-3-7" id="h0-3-7" class="i">+  }
</a> }
 
 blockquote {
<a href="#h0-4" id="h0-4" class="h">@@ -60,8 +84,17 @@ time {
</a>   font-family: $font-mono;
 }
 
<a href="#h0-4-3" id="h0-4-3" class="i">+.listing {
</a><a href="#h0-4-4" id="h0-4-4" class="i">+  margin-left: 0.5em;
</a><a href="#h0-4-5" id="h0-4-5" class="i">+}
</a><a href="#h0-4-6" id="h0-4-6" class="i">+
</a> .header {
   margin-top: 1em;
<a href="#h0-4-9" id="h0-4-9" class="i">+  @media (min-width: 599px) {
</a><a href="#h0-4-10" id="h0-4-10" class="i">+    &amp;__title:not(h1) {
</a><a href="#h0-4-11" id="h0-4-11" class="i">+      margin-top: 1.4em;
</a><a href="#h0-4-12" id="h0-4-12" class="i">+    }
</a><a href="#h0-4-13" id="h0-4-13" class="i">+  }
</a>   &amp;__menu {
     margin: 0 0 10px;
     display: flex;
<a href="#h0-5" id="h0-5" class="h">@@ -108,7 +141,7 @@ time {
</a>   justify-content: space-around;
   &amp;__item {
     padding: 0 30px;
<a href="#h0-5-3" id="h0-5-3" class="d">-    @media (max-width: 600px) {
</a><a href="#h0-5-4" id="h0-5-4" class="i">+    @media (max-width: 599px) {
</a>       padding: 0 10px;
     }
     &amp;__left {
<a href="#h0-6" id="h0-6" class="h">@@ -131,7 +164,7 @@ time {
</a> }
 
 .footer {
<a href="#h0-6-3" id="h0-6-3" class="d">-  margin-top: 100px;
</a><a href="#h0-6-4" id="h0-6-4" class="i">+  margin-top: 40px;
</a>   &amp;__nav {
     display: flex;
     flex-direction: row;
<a href="#h0-7" id="h0-7" class="h">@@ -142,10 +175,33 @@ time {
</a>     &amp;__right {
       text-align: right;
     }
<a href="#h0-7-3" id="h0-7-3" class="i">+    @media (max-width: 599px) {
</a><a href="#h0-7-4" id="h0-7-4" class="i">+      display: flex;
</a><a href="#h0-7-5" id="h0-7-5" class="i">+      flex-direction: column;
</a><a href="#h0-7-6" id="h0-7-6" class="i">+      &amp;__left {
</a><a href="#h0-7-7" id="h0-7-7" class="i">+        text-align: center;
</a><a href="#h0-7-8" id="h0-7-8" class="i">+        margin: 0;
</a><a href="#h0-7-9" id="h0-7-9" class="i">+      }
</a><a href="#h0-7-10" id="h0-7-10" class="i">+      &amp;__right {
</a><a href="#h0-7-11" id="h0-7-11" class="i">+        text-align: center;
</a><a href="#h0-7-12" id="h0-7-12" class="i">+        margin-top: 0;
</a><a href="#h0-7-13" id="h0-7-13" class="i">+      }
</a><a href="#h0-7-14" id="h0-7-14" class="i">+    }
</a>   }
   &amp;__copyright {
<a href="#h0-7-17" id="h0-7-17" class="d">-    margin-top: 40px;
</a><a href="#h0-7-18" id="h0-7-18" class="i">+    margin: 10px 0 40px;
</a>     font-size: 0.8em;
     text-align: center;
<a href="#h0-7-21" id="h0-7-21" class="i">+    @media (max-width: 599px) {
</a><a href="#h0-7-22" id="h0-7-22" class="i">+      display: flex;
</a><a href="#h0-7-23" id="h0-7-23" class="i">+      flex-direction: column;
</a><a href="#h0-7-24" id="h0-7-24" class="i">+      margin-top: 0;
</a><a href="#h0-7-25" id="h0-7-25" class="i">+      &amp;__separator {
</a><a href="#h0-7-26" id="h0-7-26" class="i">+        display: none;
</a><a href="#h0-7-27" id="h0-7-27" class="i">+      }
</a><a href="#h0-7-28" id="h0-7-28" class="i">+    }
</a><a href="#h0-7-29" id="h0-7-29" class="i">+  }
</a><a href="#h0-7-30" id="h0-7-30" class="i">+  @media (max-width: 599px) {
</a><a href="#h0-7-31" id="h0-7-31" class="i">+    margin-top: 20px
</a>   }
 }
<b>diff --git a/<a id="h1" href="../file/layouts/_default/list.html.html">layouts/_default/list.html</a> b/<a href="../file/layouts/_default/list.html.html">layouts/_default/list.html</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -1,7 +1,7 @@
</a> {{ define &quot;main&quot; }}
   {{ if or .Title .Content }}
     &lt;div&gt;
<a href="#h1-0-3" id="h1-0-3" class="d">-      {{ with .Title }}&lt;h2&gt;{{ . }}&lt;/h2&gt;{{ end }}
</a><a href="#h1-0-4" id="h1-0-4" class="i">+      {{ with .Title }}&lt;h1&gt;{{ . }}&lt;/h1&gt;{{ end }}
</a>       {{ with .Content }}&lt;div&gt;{{ . }}&lt;/div&gt;{{ end }}
     &lt;/div&gt;
   {{ end }}
<b>diff --git a/<a id="h2" href="../file/layouts/index.html.html">layouts/index.html</a> b/<a href="../file/layouts/index.html.html">layouts/index.html</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -1,21 +1,24 @@
</a> {{ define &quot;main&quot; }}
 
<a href="#h2-0-2" id="h2-0-2" class="d">-&lt;article&gt;
</a><a href="#h2-0-3" id="h2-0-3" class="d">-  {{ .Content }}
</a><a href="#h2-0-4" id="h2-0-4" class="i">+  &lt;article&gt;
</a><a href="#h2-0-5" id="h2-0-5" class="i">+    {{ .Content }}
</a><a href="#h2-0-6" id="h2-0-6" class="i">+  &lt;/article&gt;
</a> 
   &lt;hr&gt;
 
   &lt;h2&gt;Blog Posts:&lt;/h2&gt;
<a href="#h2-0-11" id="h2-0-11" class="d">-  {{ range first 5 (where .Site.RegularPages &quot;Type&quot; &quot;posts&quot;) }}
</a><a href="#h2-0-12" id="h2-0-12" class="d">-    &lt;p&gt;
</a><a href="#h2-0-13" id="h2-0-13" class="d">-      &lt;a href={{ .Permalink }} class=&quot;button full-width&quot;&gt;
</a><a href="#h2-0-14" id="h2-0-14" class="d">-        &lt;time&gt;{{ .Date.Format &quot;02 Jan 2006&quot; }}&lt;/time&gt;
</a><a href="#h2-0-15" id="h2-0-15" class="d">-        &lt;br&gt;
</a><a href="#h2-0-16" id="h2-0-16" class="d">-        &lt;span class=&quot;link-white&quot;&gt;{{ .Title }}&lt;/span&gt; »
</a><a href="#h2-0-17" id="h2-0-17" class="d">-      &lt;/a&gt;
</a><a href="#h2-0-18" id="h2-0-18" class="d">-    &lt;/p&gt;
</a><a href="#h2-0-19" id="h2-0-19" class="d">-  {{ end }}
</a><a href="#h2-0-20" id="h2-0-20" class="d">-  {{ $postURL := &quot;/posts&quot; | absURL }}
</a><a href="#h2-0-21" id="h2-0-21" class="i">+  &lt;div class=&quot;listing&quot;&gt;
</a><a href="#h2-0-22" id="h2-0-22" class="i">+    {{ range first 5 (where .Site.RegularPages &quot;Type&quot; &quot;posts&quot;) }}
</a><a href="#h2-0-23" id="h2-0-23" class="i">+      &lt;p&gt;
</a><a href="#h2-0-24" id="h2-0-24" class="i">+        &lt;a href={{ .Permalink }} class=&quot;button full-width&quot;&gt;
</a><a href="#h2-0-25" id="h2-0-25" class="i">+          &lt;time&gt;{{ .Date.Format &quot;02 Jan 2006&quot; }}&lt;/time&gt;
</a><a href="#h2-0-26" id="h2-0-26" class="i">+          &lt;br&gt;
</a><a href="#h2-0-27" id="h2-0-27" class="i">+          &lt;span class=&quot;link-white&quot;&gt;{{ .Title }}&lt;/span&gt; »
</a><a href="#h2-0-28" id="h2-0-28" class="i">+        &lt;/a&gt;
</a><a href="#h2-0-29" id="h2-0-29" class="i">+      &lt;/p&gt;
</a><a href="#h2-0-30" id="h2-0-30" class="i">+    {{ end }}
</a><a href="#h2-0-31" id="h2-0-31" class="i">+    {{ $postURL := &quot;/posts&quot; | absURL }}
</a><a href="#h2-0-32" id="h2-0-32" class="i">+  &lt;/div&gt;
</a>   &lt;p class=&quot;main__more&quot;&gt;&lt;a href={{ $postURL }} class=&quot;button&quot;&gt;More Blogs ⤳&lt;/a&gt;&lt;/p&gt;
 
   &lt;hr&gt;
<a href="#h2-1" id="h2-1" class="h">@@ -29,6 +32,5 @@
</a>   {{ $notesURL := &quot;/notes&quot; | absURL }}
   &lt;p class=&quot;main__more&quot;&gt;&lt;a href={{ $notesURL }} class=&quot;button&quot;&gt;More Notes ⤳&lt;/a&gt;&lt;/p&gt;
 
<a href="#h2-1-3" id="h2-1-3" class="d">-&lt;/article&gt;
</a> 
 {{ end }}
<b>diff --git a/<a id="h3" href="../file/layouts/partials/footer/footer.html.html">layouts/partials/footer/footer.html</a> b/<a href="../file/layouts/partials/footer/footer.html.html">layouts/partials/footer/footer.html</a></b>
<a href="#h3-0" id="h3-0" class="h">@@ -14,10 +14,10 @@
</a>   &lt;/p&gt;
 &lt;/div&gt;
 &lt;p class=&quot;footer__copyright&quot;&gt;
<a href="#h3-0-3" id="h3-0-3" class="d">-  &amp;copy;{{ now.Year }} {{ .Site.Params.Author }}
</a><a href="#h3-0-4" id="h3-0-4" class="d">-  {{ with .Site.BaseURL }} -
</a><a href="#h3-0-5" id="h3-0-5" class="d">-    &lt;a href=&quot;{{ . }}&quot;&gt;
</a><a href="#h3-0-6" id="h3-0-6" class="i">+  &lt;span class=&quot;footer__copyright__year&quot;&gt;&amp;copy;{{ now.Year }} {{ .Site.Params.Author }}&lt;/span&gt;
</a><a href="#h3-0-7" id="h3-0-7" class="i">+  {{ with .Site.BaseURL }} &lt;span class=&quot;footer__copyright__separator&quot;&gt;-&lt;/span&gt;
</a><a href="#h3-0-8" id="h3-0-8" class="i">+    &lt;span class=&quot;footer__copyright__site&quot;&gt;&lt;a href=&quot;{{ . }}&quot;&gt;
</a>       {{ . | replaceRE &quot;^https?://([^/]+).*&quot; &quot;$1&quot; }}
<a href="#h3-0-10" id="h3-0-10" class="d">-    &lt;/a&gt;
</a><a href="#h3-0-11" id="h3-0-11" class="i">+    &lt;/a&gt;&lt;/span&gt;
</a>   {{ end }}
 &lt;/p&gt; 
\ No newline at end of file
<b>diff --git a/<a id="h4" href="../file/layouts/partials/header/header.html.html">layouts/partials/header/header.html</a> b/<a href="../file/layouts/partials/header/header.html.html">layouts/partials/header/header.html</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -1,4 +1,21 @@
</a><a href="#h4-0-0" id="h4-0-0" class="d">-&lt;h1 class=&quot;header__title&quot;&gt;Yohanes Bandung Bondowoso &lt;span class=&quot;dark-toggler&quot;&gt;&lt;/span&gt;&lt;/h1&gt;
</a><a href="#h4-0-1" id="h4-0-1" class="i">+{{ if .IsHome }}
</a><a href="#h4-0-2" id="h4-0-2" class="i">+  &lt;h1 class=&quot;header__title&quot;&gt;Yohanes Bandung Bondowoso&lt;span class=&quot;dark-toggler&quot;&gt;&lt;/span&gt;&lt;/h1&gt;
</a><a href="#h4-0-3" id="h4-0-3" class="i">+{{ else }}
</a><a href="#h4-0-4" id="h4-0-4" class="i">+  &lt;h2 class=&quot;header__title&quot;&gt;Yohanes Bandung Bondowoso&lt;/h2&gt;
</a><a href="#h4-0-5" id="h4-0-5" class="i">+{{ end }}
</a> &lt;nav class=&quot;header__menu&quot;&gt;
<a href="#h4-0-7" id="h4-0-7" class="d">-  {{ partial &quot;header/menu.html&quot; . }}
</a><a href="#h4-0-8" id="h4-0-8" class="i">+  &lt;div class=&quot;header__menu__list&quot;&gt;
</a><a href="#h4-0-9" id="h4-0-9" class="i">+    {{ $baseURL := .Site.BaseURL }}
</a><a href="#h4-0-10" id="h4-0-10" class="i">+    {{ range .Site.Menus.main }}
</a><a href="#h4-0-11" id="h4-0-11" class="i">+      {{ $url := trim .URL &quot;/&quot; | absURL }}
</a><a href="#h4-0-12" id="h4-0-12" class="i">+        &lt;a
</a><a href="#h4-0-13" id="h4-0-13" class="i">+          href={{ $url }}
</a><a href="#h4-0-14" id="h4-0-14" class="i">+          data-rel=&quot;prefetch&quot;
</a><a href="#h4-0-15" id="h4-0-15" class="i">+          role=&quot;button&quot;
</a><a href="#h4-0-16" id="h4-0-16" class="i">+          class=&quot;header__menu__list__item button&quot;
</a><a href="#h4-0-17" id="h4-0-17" class="i">+        &gt;
</a><a href="#h4-0-18" id="h4-0-18" class="i">+          {{ .Pre }}&lt;span&gt;{{ .Name }}&lt;/span&gt;
</a><a href="#h4-0-19" id="h4-0-19" class="i">+        &lt;/a&gt;
</a><a href="#h4-0-20" id="h4-0-20" class="i">+    {{ end }}
</a><a href="#h4-0-21" id="h4-0-21" class="i">+  &lt;/div&gt;
</a> &lt;/nav&gt; 
\ No newline at end of file
<b>diff --git a/<a id="h5" href="../file/layouts/partials/header/menu.html.html">layouts/partials/header/menu.html</a> b/<a href="../file/layouts/partials/header/menu.html.html">layouts/partials/header/menu.html</a></b>
<a href="#h5-0" id="h5-0" class="h">@@ -1,14 +0,0 @@
</a><a href="#h5-0-0" id="h5-0-0" class="d">-&lt;div class=&quot;header__menu__list&quot;&gt;
</a><a href="#h5-0-1" id="h5-0-1" class="d">-  {{ $baseURL := .Site.BaseURL }}
</a><a href="#h5-0-2" id="h5-0-2" class="d">-  {{ range .Site.Menus.main }}
</a><a href="#h5-0-3" id="h5-0-3" class="d">-    {{ $url := trim .URL &quot;/&quot; | absURL }}
</a><a href="#h5-0-4" id="h5-0-4" class="d">-      &lt;a
</a><a href="#h5-0-5" id="h5-0-5" class="d">-        href={{ $url }}
</a><a href="#h5-0-6" id="h5-0-6" class="d">-        data-rel=&quot;prefetch&quot;
</a><a href="#h5-0-7" id="h5-0-7" class="d">-        role=&quot;button&quot;
</a><a href="#h5-0-8" id="h5-0-8" class="d">-        class=&quot;header__menu__list__item button&quot;
</a><a href="#h5-0-9" id="h5-0-9" class="d">-      &gt;
</a><a href="#h5-0-10" id="h5-0-10" class="d">-        {{ .Pre }}&lt;span&gt;{{ .Name }}&lt;/span&gt;
</a><a href="#h5-0-11" id="h5-0-11" class="d">-      &lt;/a&gt;
</a><a href="#h5-0-12" id="h5-0-12" class="d">-  {{ end }}
</a><a href="#h5-0-13" id="h5-0-13" class="d">-&lt;/div&gt;</a><a href="#h5-0-14" id="h5-0-14" class="d">-
\ No newline at end of file
</a></pre>
</div>
</div>
</body>
</html>
