<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>refactor: summary enhancements - ybbond - My site. The main domain
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="ybbond Atom Feed" href="../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>ybbond</h1><span class="desc">My site. The main domain
</span></td></tr><tr><td></td><td>
<a href="../index.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/README.md.html">README</a> | <a href="../file/LICENSE.md.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<div id="pre-scroll">
<pre><b>commit</b> <a href="../commit/514f73995908ab1849053e94576284b4758e200e.html">514f73995908ab1849053e94576284b4758e200e</a>
<b>parent</b> <a href="../commit/34799dff4e6a88f139b9236cd8141d018640a9e1.html">34799dff4e6a88f139b9236cd8141d018640a9e1</a>
<b>Author:</b> Yohanes Bandung &lt;<a href="mailto:bandungpenting@gmail.com">bandungpenting@gmail.com</a>&gt;
<b>Date:</b>   Fri,  1 May 2020 22:50:02 +0700

refactor: summary enhancements

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">assets/content.scss</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">assets/styles.scss</a></td><td> | </td><td class="num">22</td><td><span class="i">+++++++++++++++++</span><span class="d">-----</span></td></tr>
<tr><td class="M">M</td><td><a href="#h2">content/posts/April Links.md</a></td><td> | </td><td class="num">4</td><td><span class="i">++</span><span class="d">--</span></td></tr>
<tr><td class="M">M</td><td><a href="#h3">content/posts/February Links.md</a></td><td> | </td><td class="num">4</td><td><span class="i">++</span><span class="d">--</span></td></tr>
<tr><td class="M">M</td><td><a href="#h4">content/posts/March Links.md</a></td><td> | </td><td class="num">4</td><td><span class="i">++</span><span class="d">--</span></td></tr>
<tr><td class="M">M</td><td><a href="#h5">layouts/partials/post/summary.html</a></td><td> | </td><td class="num">14</td><td><span class="i">+++++</span><span class="d">---------</span></td></tr>
</table></pre></div><p>6 files changed, 31 insertions(<span id="plus">+</span>), 21 deletions(<span id="min">-</span>)</p>
<div id="pre-scroll">
<pre>
<b>diff --git a/<a id="h0" href="../file/assets/content.scss.html">assets/content.scss</a> b/<a href="../file/assets/content.scss.html">assets/content.scss</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -85,7 +85,9 @@
</a>     margin: 0;
   }
   @media (min-width: 600px) {
<a href="#h0-0-3" id="h0-0-3" class="d">-    padding: 0 0.7em;
</a><a href="#h0-0-4" id="h0-0-4" class="i">+    .listing &gt; &amp; {
</a><a href="#h0-0-5" id="h0-0-5" class="i">+      padding: 0 0.7em;
</a><a href="#h0-0-6" id="h0-0-6" class="i">+    }
</a>   }
   margin-bottom: 2em;
   @media (max-width: 599px) {
<b>diff --git a/<a id="h1" href="../file/assets/styles.scss.html">assets/styles.scss</a> b/<a href="../file/assets/styles.scss.html">assets/styles.scss</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -33,16 +33,16 @@ hr {
</a>     padding: 0 10px;
     margin: 0;
   }
<a href="#h1-0-3" id="h1-0-3" class="d">-  hr {
</a><a href="#h1-0-4" id="h1-0-4" class="d">-    width: 90%;
</a><a href="#h1-0-5" id="h1-0-5" class="d">-  }
</a> }
 
 h1, h2, h3, h4, h5, h6 {
   @include themify($themes) {
     color: themed(&#39;color-green&#39;);
   }
<a href="#h1-0-12" id="h1-0-12" class="d">-  font-family: $font-mono;
</a><a href="#h1-0-13" id="h1-0-13" class="i">+  font-family: $font-text;
</a><a href="#h1-0-14" id="h1-0-14" class="i">+  a {
</a><a href="#h1-0-15" id="h1-0-15" class="i">+    font-family: $font-mono;
</a><a href="#h1-0-16" id="h1-0-16" class="i">+  }
</a> }
 
 h1 {
<a href="#h1-1" id="h1-1" class="h">@@ -74,9 +74,11 @@ a {
</a>     padding: 0.3em 0.7em;
   }
   &amp;.full-width {
<a href="#h1-1-3" id="h1-1-3" class="d">-    width: calc(100% - 1.4em);
</a>     margin: 0;
     align-self: center;
<a href="#h1-1-6" id="h1-1-6" class="i">+    @media (min-width: 600px) {
</a><a href="#h1-1-7" id="h1-1-7" class="i">+      width: calc(100% - 1.4em);
</a><a href="#h1-1-8" id="h1-1-8" class="i">+    }
</a>   }
 }
 
<a href="#h1-2" id="h1-2" class="h">@@ -180,6 +182,16 @@ time {
</a>   }
 }
 
<a href="#h1-2-3" id="h1-2-3" class="i">+.summary {
</a><a href="#h1-2-4" id="h1-2-4" class="i">+  margin: 0 0 5.5em 0;
</a><a href="#h1-2-5" id="h1-2-5" class="i">+  p {
</a><a href="#h1-2-6" id="h1-2-6" class="i">+    margin: 0em 0 0.4em;
</a><a href="#h1-2-7" id="h1-2-7" class="i">+  }
</a><a href="#h1-2-8" id="h1-2-8" class="i">+  &amp;__title {
</a><a href="#h1-2-9" id="h1-2-9" class="i">+    margin-bottom: 0;
</a><a href="#h1-2-10" id="h1-2-10" class="i">+  }
</a><a href="#h1-2-11" id="h1-2-11" class="i">+}
</a><a href="#h1-2-12" id="h1-2-12" class="i">+
</a> .pagination {
   border-top: dashed 2px;
   border-bottom: dashed 2px;
<b>diff --git a/<a id="h2" href="../file/content/posts/April Links.md.html">content/posts/April Links.md</a> b/<a href="../file/content/posts/April Links.md.html">content/posts/April Links.md</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -11,13 +11,13 @@ An interesting [posts](https://yihui.org/en/2018/02/career-crisis/) by Yihui Xie
</a> 
 🐒 [Corrupt a file - Corrupt file online, deliver on time!](https://corrupt-a-file.net/)
 
<a href="#h2-0-3" id="h2-0-3" class="d">-## Tech
</a><a href="#h2-0-4" id="h2-0-4" class="i">+### Tech
</a> 
 👠 [vime/README.md at master · vime-js/vime · GitHub](https://github.com/vime-js/vime/blob/master/README.md)
 
 🛂 [Password Strengh - xkcd #936](https://xkcd.com/936/)
 
<a href="#h2-0-10" id="h2-0-10" class="d">-## Blog
</a><a href="#h2-0-11" id="h2-0-11" class="i">+### Blog
</a> 
 📰 [Ask HackerNews: What is your blog](https://news.ycombinator.com/item?id=22800136)
 
<b>diff --git a/<a id="h3" href="../file/content/posts/February Links.md.html">content/posts/February Links.md</a> b/<a href="../file/content/posts/February Links.md.html">content/posts/February Links.md</a></b>
<a href="#h3-0" id="h3-0" class="h">@@ -7,11 +7,11 @@ date: 2020-03-01T00:00:01
</a> type: links
 ---
 
<a href="#h3-0-3" id="h3-0-3" class="d">-## Tech
</a><a href="#h3-0-4" id="h3-0-4" class="i">+### Tech
</a> 
 🗣 [No, disabling a button is not app logic. - David K. 🎹](https://dev.to/davidkpiano/no-disabling-a-button-is-not-app-logic-598i)
 
<a href="#h3-0-8" id="h3-0-8" class="d">-## Knowledge
</a><a href="#h3-0-9" id="h3-0-9" class="i">+### Knowledge
</a> 
 👃 [From Bats to Human Lungs, the Evolution of a Coronavirus - Carolyn Kormann](https://www.newyorker.com/science/elements/from-bats-to-human-lungs-the-evolution-of-a-coronavirus)
 
<b>diff --git a/<a id="h4" href="../file/content/posts/March Links.md.html">content/posts/March Links.md</a> b/<a href="../file/content/posts/March Links.md.html">content/posts/March Links.md</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -7,7 +7,7 @@ date: 2020-04-01T00:00:01
</a> type: links
 ---
 
<a href="#h4-0-3" id="h4-0-3" class="d">-## Tech
</a><a href="#h4-0-4" id="h4-0-4" class="i">+### Tech
</a> 
 📓 [A Type of Programming WIP Book about Haskell](https://atypeofprogramming.com/)
 
<a href="#h4-1" id="h4-1" class="h">@@ -15,7 +15,7 @@ type: links
</a> 
 🆅 [iVim setup](https://www.reddit.com/r/vim/comments/9ki5g8/ivim_ios_howtos/)
 
<a href="#h4-1-3" id="h4-1-3" class="d">-## Knowledge
</a><a href="#h4-1-4" id="h4-1-4" class="i">+### Knowledge
</a> 
 🗣 [Using Parts of Speech to Improve Your Writing Style - William Strunk Jr.](https://ia.net/writer/support/writing-tips/parts-of-speech)
 
<b>diff --git a/<a id="h5" href="../file/layouts/partials/post/summary.html.html">layouts/partials/post/summary.html</a> b/<a href="../file/layouts/partials/post/summary.html.html">layouts/partials/post/summary.html</a></b>
<a href="#h5-0" id="h5-0" class="h">@@ -18,16 +18,12 @@
</a>  {{ $hell := .Type }}
   {{ if .Params.Description }}
     &lt;p&gt; {{ .Params.Description }} &lt;/p&gt;
<a href="#h5-0-3" id="h5-0-3" class="d">-      {{ else }}
</a><a href="#h5-0-4" id="h5-0-4" class="i">+    &lt;a href=&quot;{{ .Permalink }}&quot;&gt;
</a><a href="#h5-0-5" id="h5-0-5" class="i">+      &lt;p&gt;Read More »&lt;/p&gt;
</a><a href="#h5-0-6" id="h5-0-6" class="i">+    &lt;/a&gt;
</a><a href="#h5-0-7" id="h5-0-7" class="i">+  {{ else }}
</a>     &lt;p&gt;
<a href="#h5-0-9" id="h5-0-9" class="d">-      {{ .Summary }}
</a><a href="#h5-0-10" id="h5-0-10" class="d">-      {{ if .Truncated }}
</a><a href="#h5-0-11" id="h5-0-11" class="d">-        &lt;p&gt;
</a><a href="#h5-0-12" id="h5-0-12" class="d">-          &lt;a href=&quot;{{ .Permalink }}&quot;&gt;
</a><a href="#h5-0-13" id="h5-0-13" class="d">-            Read more ⤳
</a><a href="#h5-0-14" id="h5-0-14" class="d">-          &lt;/a&gt;
</a><a href="#h5-0-15" id="h5-0-15" class="d">-        &lt;/p&gt;
</a><a href="#h5-0-16" id="h5-0-16" class="d">-      {{ end }}
</a><a href="#h5-0-17" id="h5-0-17" class="i">+      {{ .Content }}
</a>     &lt;/p&gt;
   {{ end }}
 &lt;/article&gt;
</pre>
</div>
</div>
</body>
</html>
