<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>content: update kalender, and uses - ybbond - My site. The main domain
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="ybbond Atom Feed" href="../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>ybbond</h1><span class="desc">My site. The main domain
</span></td></tr><tr><td></td><td>
<a href="../index.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/README.md.html">README</a> | <a href="../file/LICENSE.md.html">LICENSE</a> | <a href="../file/CC-LICENSE.md.html">CC-LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<div id="pre-scroll">
<pre><b>commit</b> <a href="../commit/b6ae3fe126dd3cec06a6ec6de48f347597e679cd.html">b6ae3fe126dd3cec06a6ec6de48f347597e679cd</a>
<b>parent</b> <a href="../commit/3d7025c8f622802d18bf2fc13a5037d7a597eb8e.html">3d7025c8f622802d18bf2fc13a5037d7a597eb8e</a>
<b>Author:</b> Yohanes Bandung Bondowoso &lt;<a href="mailto:hi@ybbond.dev">hi@ybbond.dev</a>&gt;
<b>Date:</b>   Mon,  4 Jan 2021 06:40:23 +0700

content: update kalender, and uses

<b>Diffstat:</b>
<table><tr><td class="A">A</td><td><a href="#h0">content/posts/Kalender dan Yearly Planner 2021/angka-garis-merah-dengan-libur.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h1">content/posts/Kalender dan Yearly Planner 2021/angka-merah-dengan-libur.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h2">content/posts/Kalender dan Yearly Planner 2021/hitam-dengan-libur.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h3">content/posts/Kalender dan Yearly Planner 2021/hitam-tanpa-libur.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h4">content/posts/Kalender dan Yearly Planner 2021/index.md</a></td><td> | </td><td class="num">68</td><td><span class="i">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d">----------</span></td></tr>
<tr><td class="A">A</td><td><a href="#h5">content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-garis-merah.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h6">content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-merah.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h7">content/uses.md</a></td><td> | </td><td class="num">60</td><td><span class="i">+++++++++++++++++++++++++++++++++++++++</span><span class="d">---------------------</span></td></tr>
<tr><td class="M">M</td><td><a href="#h8">layouts/_default/_markup/render-link.html</a></td><td> | </td><td class="num">5</td><td><span class="i">++</span><span class="d">---</span></td></tr>
</table></pre></div><p>9 files changed, 99 insertions(<span id="plus">+</span>), 34 deletions(<span id="min">-</span>)</p>
<div id="pre-scroll">
<pre>
<b>diff --git a/<a id="h0" href="../file/content/posts/Kalender dan Yearly Planner 2021/angka-garis-merah-dengan-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/angka-garis-merah-dengan-libur.png</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/angka-garis-merah-dengan-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/angka-garis-merah-dengan-libur.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h1" href="../file/content/posts/Kalender dan Yearly Planner 2021/angka-merah-dengan-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/angka-merah-dengan-libur.png</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/angka-merah-dengan-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/angka-merah-dengan-libur.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h2" href="../file/content/posts/Kalender dan Yearly Planner 2021/hitam-dengan-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/hitam-dengan-libur.png</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/hitam-dengan-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/hitam-dengan-libur.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h3" href="../file/content/posts/Kalender dan Yearly Planner 2021/hitam-tanpa-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/hitam-tanpa-libur.png</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/hitam-tanpa-libur.png.html">content/posts/Kalender dan Yearly Planner 2021/hitam-tanpa-libur.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h4" href="../file/content/posts/Kalender dan Yearly Planner 2021/index.md.html">content/posts/Kalender dan Yearly Planner 2021/index.md</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/index.md.html">content/posts/Kalender dan Yearly Planner 2021/index.md</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -1,7 +1,7 @@
</a> ---
 title: Kalender dan Yearly Planner 2021
 author: Yohanes Bandung Bondowoso
<a href="#h4-0-3" id="h4-0-3" class="d">-description: (This post is in Indonesian) Sudah lama saya tidak mendisain. Sembari belajar lagi, saya coba bikin kalender sekaligus &lt;em&gt;yearly planner&lt;/em&gt; tahun 2021. PDF bisa diunduh di artikel ini.
</a><a href="#h4-0-4" id="h4-0-4" class="i">+description: (This post is in Indonesian) Sudah lama saya tidak mendesain. Sembari belajar lagi, saya coba bikin kalender sekaligus &lt;em&gt;yearly planner&lt;/em&gt; tahun 2021. PDF bisa diunduh di artikel ini.
</a> slug: kalender-dan-yearly-planner
 tags:
 - blog #blog
<a href="#h4-1" id="h4-1" class="h">@@ -15,42 +15,90 @@ date: 2021-01-03T23:46:13+0700
</a> ID: 20210103234613
 ---
 
<a href="#h4-1-3" id="h4-1-3" class="d">-Sudah lama saya tidak mendisain, kebetulan saya beli _Affinity Designer_ saat potongan harga pada periode _Black Friday_ tahun lalu. Sembari belajar lagi, saya coba bikin kalender sekaligus &lt;em&gt;yearly planner&lt;/em&gt; untuk tahun 2021.
</a><a href="#h4-1-4" id="h4-1-4" class="i">+§ [Unduh](#unduh)
</a><a href="#h4-1-5" id="h4-1-5" class="i">+&amp;nbsp;&amp;nbsp; »  [Hitam dengan penanda libur](#hitam-dengan-libur)
</a><a href="#h4-1-6" id="h4-1-6" class="i">+&amp;nbsp;&amp;nbsp; »  [Hitam **tanpa** penanda libur](#hitam-tanpa-libur)
</a><a href="#h4-1-7" id="h4-1-7" class="i">+&amp;nbsp;&amp;nbsp; »  [Angka berwarna merah](#angka-merah-dengan-libur)
</a><a href="#h4-1-8" id="h4-1-8" class="i">+&amp;nbsp;&amp;nbsp; »  [Angka dan garis berwarna merah](#angka-garis-merah-dengan-libur)
</a><a href="#h4-1-9" id="h4-1-9" class="i">+&amp;nbsp;&amp;nbsp; »  [Sabtu tidak libur, angka berwarna merah](#sabtu-masuk-angka-merah)
</a><a href="#h4-1-10" id="h4-1-10" class="i">+&amp;nbsp;&amp;nbsp; »  [Sabtu tidak libur, angka dan garis berwarna merah](#sabtu-masuk-angka-garis-merah)
</a><a href="#h4-1-11" id="h4-1-11" class="i">+§ [Fitur](#fitur)
</a><a href="#h4-1-12" id="h4-1-12" class="i">+§ [Sumber Data](#sumber-data)
</a><a href="#h4-1-13" id="h4-1-13" class="i">+§ [Font](#font)
</a><a href="#h4-1-14" id="h4-1-14" class="i">+
</a><a href="#h4-1-15" id="h4-1-15" class="i">+Sudah lama saya tidak mendesain. Sembari belajar lagi[^aff], saya coba bikin kalender sekaligus &lt;em&gt;yearly planner&lt;/em&gt; untuk tahun 2021.
</a> 
 ## Unduh
 
<a href="#h4-1-19" id="h4-1-19" class="d">-PDF siap cetak [dapat anda unduh di sini][unduh]. Rekomendasi saya adalah cetak ukuran A1 dengan bahan spanduk lateks agar kalender ini mudah dicoret dan dibersihkan dengan spidol non-permanen.
</a><a href="#h4-1-20" id="h4-1-20" class="i">+&lt;span id=&quot;hitam-dengan-libur&quot;&gt;&lt;/span&gt;![Hitam, dengan penanda libur](hitam-dengan-libur.png)
</a><a href="#h4-1-21" id="h4-1-21" class="i">+
</a><a href="#h4-1-22" id="h4-1-22" class="i">+Unduh PDF varian [hanya warna hitam, dengan penanda libur][unduh-hitam-dengan-libur].
</a><a href="#h4-1-23" id="h4-1-23" class="i">+
</a><a href="#h4-1-24" id="h4-1-24" class="i">+&lt;span id=&quot;hitam-tanpa-libur&quot;&gt;&lt;/span&gt;![Hitam, **tanpa** penanda libur](hitam-tanpa-libur.png)
</a><a href="#h4-1-25" id="h4-1-25" class="i">+
</a><a href="#h4-1-26" id="h4-1-26" class="i">+Unduh PDF varian [hitam, **tanpa** penanda libur][unduh-hitam-tanpa-libur].
</a><a href="#h4-1-27" id="h4-1-27" class="i">+
</a><a href="#h4-1-28" id="h4-1-28" class="i">+&lt;span id=&quot;angka-merah-dengan-libur&quot;&gt;&lt;/span&gt;![Angka berwarna merah](angka-merah-dengan-libur.png)
</a><a href="#h4-1-29" id="h4-1-29" class="i">+
</a><a href="#h4-1-30" id="h4-1-30" class="i">+Unduh PDF varian [angka merah][unduh-angka-merah-dengan-libur].
</a><a href="#h4-1-31" id="h4-1-31" class="i">+
</a><a href="#h4-1-32" id="h4-1-32" class="i">+&lt;span id=&quot;angka-garis-merah-dengan-libur&quot;&gt;&lt;/span&gt;![Angka dan garis berwarna merah](angka-garis-merah-dengan-libur.png)
</a><a href="#h4-1-33" id="h4-1-33" class="i">+
</a><a href="#h4-1-34" id="h4-1-34" class="i">+Unduh PDF varian [angka, garis dan penanda libur berwarana merah][unduh-angka-garis-merah-dengan-libur].
</a> 
<a href="#h4-1-36" id="h4-1-36" class="d">-![Pratinjau disain kalender](pratinjau.png)
</a><a href="#h4-1-37" id="h4-1-37" class="i">+&lt;span id=&quot;sabtu-masuk-angka-merah&quot;&gt;&lt;/span&gt;![Angka berwarna merah](sabtu-masuk-angka-merah.png)
</a> 
<a href="#h4-1-39" id="h4-1-39" class="d">-Sementara hanya ada satu macam disain. Saya akan perbarui artikel ini jika versi lain sesuai masukan dan pemberian suara dari Instagram sudah saya buat.
</a><a href="#h4-1-40" id="h4-1-40" class="i">+Unduh PDF varian [Sabtu tidak libur dan angka merah][unduh-sabtu-masuk-angka-merah].
</a> 
<a href="#h4-1-42" id="h4-1-42" class="d">-Umpan balik, saran atau pelaporan kesalahan penulisan dan disain dapat disampaikan ke alamat surel saya di hi@ybbond.dev. Jika anda punya akun Twitter, bisa juga [membalas tweet saya](https://twitter.com/ybbond_/status/1345821961323102208).
</a><a href="#h4-1-43" id="h4-1-43" class="i">+&lt;span id=&quot;sabtu-masuk-angka-garis-merah&quot;&gt;&lt;/span&gt;![Angka dan garis berwarna merah](sabtu-masuk-angka-garis-merah.png)
</a><a href="#h4-1-44" id="h4-1-44" class="i">+
</a><a href="#h4-1-45" id="h4-1-45" class="i">+Unduh PDF varian [Sabtu tidak libur. Angka, garis dan penanda libur berwarana merah][unduh-sabtu-masuk-angka-garis-merah].
</a><a href="#h4-1-46" id="h4-1-46" class="i">+
</a><a href="#h4-1-47" id="h4-1-47" class="i">+Rekomendasi saya adalah cetak ukuran A1 dengan bahan spanduk albatros atau lateks agar kalender ini mudah dan tahan lama.
</a><a href="#h4-1-48" id="h4-1-48" class="i">+
</a><a href="#h4-1-49" id="h4-1-49" class="i">+Umpan balik, saran atau pelaporan kesalahan penulisan dan desain dapat disampaikan ke alamat surel saya di hi@ybbond.dev. Jika anda punya akun Twitter, bisa juga [membalas tweet saya](https://twitter.com/ybbond_/status/1345821961323102208).
</a> 
 ## Fitur
 
<a href="#h4-1-53" id="h4-1-53" class="d">-**Tidak ada jeda antar bulan** memungkinkan implementasi paradigma _time blocking_ yang luwes.
</a><a href="#h4-1-54" id="h4-1-54" class="i">+**Tidak ada jeda antar bulan** memungkinkan implementasi paradigma _day theming_ atau _calendar blocking_[^paradigm] yang luwes.
</a> 
 Hal tersebut juga menekankan bahwa dalam kehidupan yang sibuk ini, unit **pekan** merupakan mata uang yang berharga. Kita hidup merencanakan kegiatan yang harus dilakukan tiap pekan, sembari menanti akhir pekan untuk bersantai.
 
<a href="#h4-1-58" id="h4-1-58" class="d">-**Dimensi yang besar** memudahkan anda menulis catatan atau perencanaan kegiatan. Dimensi disain adalah 550x800mm, sedikit lebih kecil dari ukuran A1. Disadur dari ukuran lebar pintu kulkas di rumah saya.
</a><a href="#h4-1-59" id="h4-1-59" class="i">+**Dimensi yang besar** memudahkan anda menulis catatan atau perencanaan kegiatan. Dimensi desain adalah `550x800mm`, sedikit lebih kecil dari ukuran A1. Disadur dari ukuran lebar pintu kulkas di rumah saya.
</a> 
 ## Sumber Data
 
<a href="#h4-1-63" id="h4-1-63" class="d">-Kalender dan _Yearly Planner_ 2021 ini turut mencantumkan Hari Libur Nasional dan jadwal cuti bersama untuk tahun 2021. Saya ambil data tanggal dan deskripsi dari artikel di situs **Kementerian Pendayagunaan Aparatur Negara dan Reformasi Birokrasi**. Berikut tautan menuju artikel di [situs resmi menpan.go.id][menpan], atau ke [cadangan di archive.org][archive-menpan].
</a><a href="#h4-1-64" id="h4-1-64" class="i">+Kalender dan _Yearly Planner_ 2021 ini turut mencantumkan Hari Libur Nasional dan jadwal cuti bersama untuk tahun 2021. Saya ambil data tanggal dan deskripsi dari artikel di situs **Kementerian Pendayagunaan Aparatur Negara dan Reformasi Birokrasi**. Berikut tautan menuju artikel di [situs menpan.go.id][menpan], atau ke [cadangan archive.org][archive-menpan].
</a> 
 Pemilihan singkatan untuk tiap nama bulan saya ambil dari [Wikipedia - Bulan (penanggalan)][wikipedia].
 
 ## Font
 
<a href="#h4-1-70" id="h4-1-70" class="d">-Font yang saya gunakan adalah `iA Writer Quatro`, font yang dirilis dan digunakan oleh **iA** pada aplikasi mereka [iA Writer](https://ia.net/writer). Font dapat [diunduh dari GitHub][ia-github], dan saya himbau untuk membaca lisensi yang mereka pilih sebelum menggunakan font.
</a><a href="#h4-1-71" id="h4-1-71" class="i">+Font yang saya gunakan dirilis oleh **iA**[^ia], dengan nama varian `iA Writer Quattro`. Font dapat [diunduh dari GitHub][ia-github], dan saya himbau untuk membaca lisensi yang mereka pilih sebelum menggunakan font.
</a> 
 Mereka juga [menerbitkan artikel][ia-post] memberi keterangan mengenai pembuatan font tersebut secara komprehensif (artikel dalam Bahasa Inggris).
 
<a href="#h4-1-75" id="h4-1-75" class="i">+## Penutup
</a><a href="#h4-1-76" id="h4-1-76" class="i">+
</a><a href="#h4-1-77" id="h4-1-77" class="i">+Kalian bisa mendownload file PDF dan mencetak untuk diri kalian sendiri. Mohon tidak mencetak untuk dijual, karena saya pun memakai font gratis non-komersil. Lisensi dan hak milik adalah hal yang baiknya dihormati.
</a><a href="#h4-1-78" id="h4-1-78" class="i">+Jika kalian mencetak untuk teman kalian dan minta uang ganti, cukup ongkos cetak dan bensin saja :D
</a><a href="#h4-1-79" id="h4-1-79" class="i">+
</a><a href="#h4-1-80" id="h4-1-80" class="i">+Semoga kalender ini bermanfaat!
</a><a href="#h4-1-81" id="h4-1-81" class="i">+
</a><a href="#h4-1-82" id="h4-1-82" class="i">+[^aff]: Saya menggunakan [Affinity Designer](https://affinity.serif.com/en-us/designer/), yang saya beli saat potongan harga pada periode _Black Friday_ tahun lalu.
</a><a href="#h4-1-83" id="h4-1-83" class="i">+[^ia]: Font itu, beserta 2 varian font lain, juga dipakai untuk aplikasi [iA Writer](https://ia.net/writer).
</a><a href="#h4-1-84" id="h4-1-84" class="i">+[^paradigm]: Metode merencanakan kegiatan yang bisa jadi berlangsung selama lebih dari sehari. Biasa ditemui di kalender digital, namun bisa juga diterapkan pada kalender fisik. Salah satu artikel (dalam Bahasa Inggris) yang menjelaskan tentang hal ini adalah [How to Calendar Block Your Week](https://www.keepproductive.com/blog/how-to-calendar-block) oleh **KEEP PRODUCTIVE**.
</a><a href="#h4-1-85" id="h4-1-85" class="i">+
</a> [archive-menpan]: https://web.archive.org/web/20210101095722/https://www.menpan.go.id/site/berita-terkini/libur-nasional-dan-cuti-bersama-tahun-2021-sebanyak-23-hari
 [ia-github]: https://github.com/iaolo/iA-Fonts
 [ia-post]: https://ia.net/writer/blog/a-typographic-christmas
 [menpan]: https://www.menpan.go.id/site/berita-terkini/libur-nasional-dan-cuti-bersama-tahun-2021-sebanyak-23-hari
 [twitter]: https://twitter.com/markobar1996/status/1344925077523972098
 [unduh]: https://cdn.ybbond.dev/static/2021.pdf
<a href="#h4-1-92" id="h4-1-92" class="i">+[unduh-hitam-tanpa-libur]: https://cdn.ybbond.dev/static/2021-hitam-tanpa-libur.pdf
</a><a href="#h4-1-93" id="h4-1-93" class="i">+[unduh-hitam-dengan-libur]: https://cdn.ybbond.dev/static/2021-hitam-dengan-libur.pdf
</a><a href="#h4-1-94" id="h4-1-94" class="i">+[unduh-sabtu-masuk-angka-merah]: https://cdn.ybbond.dev/static/2021-angka-merah-dengan-libur-sabtu-masuk.pdf
</a><a href="#h4-1-95" id="h4-1-95" class="i">+[unduh-sabtu-masuk-angka-garis-merah]: https://cdn.ybbond.dev/static/2021-angka-garis-merah-dengan-libur-sabtu-masuk.pdf
</a><a href="#h4-1-96" id="h4-1-96" class="i">+[unduh-angka-merah-dengan-libur]: https://cdn.ybbond.dev/static/2021-angka-merah-dengan-libur.pdf
</a><a href="#h4-1-97" id="h4-1-97" class="i">+[unduh-angka-garis-merah-dengan-libur]: https://cdn.ybbond.dev/static/2021-angka-garis-merah-dengan-libur.pdf
</a> [wikipedia]: https://id.wikipedia.org/wiki/Bulan_(penanggalan)
<b>diff --git a/<a id="h5" href="../file/content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-garis-merah.png.html">content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-garis-merah.png</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-garis-merah.png.html">content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-garis-merah.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h6" href="../file/content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-merah.png.html">content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-merah.png</a> b/<a href="../file/content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-merah.png.html">content/posts/Kalender dan Yearly Planner 2021/sabtu-masuk-angka-merah.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h7" href="../file/content/uses.md.html">content/uses.md</a> b/<a href="../file/content/uses.md.html">content/uses.md</a></b>
<a href="#h7-0" id="h7-0" class="h">@@ -17,14 +17,17 @@ Some others satisfy my hobbies.
</a> &amp;nbsp;&amp;nbsp; »  [Working](#working)
 &amp;nbsp;&amp;nbsp; »  [Services](#services)
 &amp;nbsp;&amp;nbsp; »  [Zettelkasten](#zettelkasten)
<a href="#h7-0-3" id="h7-0-3" class="i">+&amp;nbsp;&amp;nbsp; »  [Previous Apps](#previous-apps)
</a> 
 ## Hardware
 
 ### Platforms
 
 - Macbook Pro 2018 13&quot; (Office)
<a href="#h7-0-10" id="h7-0-10" class="i">+- ~~Mac Mini 2018 i3 128GB (Home)~~
</a><a href="#h7-0-11" id="h7-0-11" class="i">+- Beelink U57 (Home)
</a> - Macbook White Unibody mid 2010 (Experiments) [my note][mbwhite]
<a href="#h7-0-13" id="h7-0-13" class="d">-- Low End PC with Manjaro Linux XFCE (Home)
</a><a href="#h7-0-14" id="h7-0-14" class="i">+- Low End PC with Manjaro Linux XFCE (Experiments)
</a> - iPad Mini 5 WiFi 64GB
 - iPhone SE (2016) 128GB
 
<a href="#h7-1" id="h7-1" class="h">@@ -33,6 +36,10 @@ Some others satisfy my hobbies.
</a> - Ducky One 2 Mini Keyboard [gif image on Twitter][ducky]
   &lt;small&gt;P/N &lt;code&gt;DKON1861ST&lt;/code&gt;&lt;/small&gt;
 - NuPhy NuType F1 Keyboard [my review post][nuphy]
<a href="#h7-1-3" id="h7-1-3" class="i">+- Dell U2419H
</a><a href="#h7-1-4" id="h7-1-4" class="i">+  &lt;small&gt;24&quot; rotatable monitor&lt;/small&gt;
</a><a href="#h7-1-5" id="h7-1-5" class="i">+- Dell E2216H
</a><a href="#h7-1-6" id="h7-1-6" class="i">+  &lt;small&gt;22&quot; rotatable monitor&lt;/small&gt;
</a> - Roland Electric Piano FP-30
 - Guitars. Many of them.
 
<a href="#h7-2" id="h7-2" class="h">@@ -53,50 +60,61 @@ Some others satisfy my hobbies.
</a> 
 I use these app on both macOS and iOS (or iPadOS):
 
<a href="#h7-2-3" id="h7-2-3" class="d">-- **Canary mail**
</a><a href="#h7-2-4" id="h7-2-4" class="d">-  &lt;small&gt;lightweight email client with configurable keyboard shortcuts, and PGP encryption&lt;/small&gt;
</a><a href="#h7-2-5" id="h7-2-5" class="d">-- **2Do App**
</a><a href="#h7-2-6" id="h7-2-6" class="d">-- **Reeder 4**
</a><a href="#h7-2-7" id="h7-2-7" class="d">-  &lt;small&gt;beautiful and gesture-based RSS Reader.&lt;/small&gt;
</a><a href="#h7-2-8" id="h7-2-8" class="d">-- **BusyCal**
</a><a href="#h7-2-9" id="h7-2-9" class="i">+- **NetNewsWire**
</a><a href="#h7-2-10" id="h7-2-10" class="i">+  &lt;small&gt;Simple and performant RSS reader for all Apple platform.&lt;/small&gt;
</a> - **iA Writer** [my post about it][iawriter]
   &lt;small&gt;I write my Hugo post mostly with this app.&lt;/small&gt;
<a href="#h7-2-13" id="h7-2-13" class="i">+- **2Do**
</a><a href="#h7-2-14" id="h7-2-14" class="i">+  &lt;small&gt;Task management app&lt;/small&gt;
</a> 
 ### Working
 
 To help on my working time, I use these apps:
 
<a href="#h7-2-20" id="h7-2-20" class="d">-- **Xit** Git GUI for macOS
</a><a href="#h7-2-21" id="h7-2-21" class="d">-  &lt;small&gt;When doing heavy refactor, I like to code while looking at the repository&#39;s history.
</a><a href="#h7-2-22" id="h7-2-22" class="d">-  [Xit][xit] is a free and open source. I think it is comparable to the awesome **Sublime Merge**.&lt;/small&gt;
</a> - **Ripcord** chat client for Slack and Discord
   &lt;small&gt;The official **Slack** and **Discord** desktop client uses **Electron**, I don&#39;t like that.
   [Ripcord][ripcord] is a shareware that is based on, I don&#39;t know, it looks like **GTK+**.&lt;/small&gt;
<a href="#h7-2-26" id="h7-2-26" class="i">+- **Xit** Git GUI for macOS
</a><a href="#h7-2-27" id="h7-2-27" class="i">+  &lt;small&gt;When doing heavy refactor, I like to code while looking at the repository&#39;s history.
</a><a href="#h7-2-28" id="h7-2-28" class="i">+  [Xit][xit] is a free and open source. I think it is comparable to the awesome **Sublime Merge**.&lt;/small&gt;
</a> 
 ### Services
 
 - **Fastmail**
   &lt;small&gt;I try to use less Google, but I cannot find replacement for ~~YouTube~~ and Translate :(&lt;/small&gt;
   &lt;small&gt;Thanks to [Josh Habdas](https://habd.as), I switched from Youtube to Invidio.us&lt;/small&gt;
<a href="#h7-2-35" id="h7-2-35" class="d">-- **BitWarden** password manager
</a><a href="#h7-2-36" id="h7-2-36" class="d">-- **Worldbrain&#39;s Memex 2**
</a><a href="#h7-2-37" id="h7-2-37" class="d">-  &lt;small&gt;Browser extension to bookmark, highlight and annotate any site.
</a><a href="#h7-2-38" id="h7-2-38" class="d">-  With full text search and grouping, this is a good service for knowledge gathering.&lt;/small&gt;
</a><a href="#h7-2-39" id="h7-2-39" class="d">-- **Historio.us**
</a><a href="#h7-2-40" id="h7-2-40" class="d">-  &lt;small&gt;Web archiver. It supports full text search and tagging.
</a><a href="#h7-2-41" id="h7-2-41" class="d">-  I use this side-by-side with **Memex 2**.&lt;/small&gt;
</a><a href="#h7-2-42" id="h7-2-42" class="i">+- **BitWarden**
</a><a href="#h7-2-43" id="h7-2-43" class="i">+  &lt;small&gt;password manager&lt;/small&gt;
</a> 
 ### Zettelkasten
 
 I use [zettelkasten](https://zettelkasten.de/) paradigm for my knowledge base and note-taking.
 
<a href="#h7-2-49" id="h7-2-49" class="d">-- **Emacs** with [Org-roam](https://github.com/org-roam/org-roam)
</a><a href="#h7-2-50" id="h7-2-50" class="d">-  &lt;small&gt;Org-roam is an awesome minor package for Org-mode.
</a><a href="#h7-2-51" id="h7-2-51" class="d">-  Read [my post about this](/posts/2020-06-org-mode-with-org-roam/).&lt;/small&gt;
</a><a href="#h7-2-52" id="h7-2-52" class="i">+- **DEVONthink**
</a><a href="#h7-2-53" id="h7-2-53" class="i">+  I don&#39;t exactly use this for Zettelkasten,
</a><a href="#h7-2-54" id="h7-2-54" class="i">+  more for archiving and paperless document management.
</a><a href="#h7-2-55" id="h7-2-55" class="i">+- **Obsidian**
</a> - **FSNotes** [screencast on Twitter][video]
   &lt;small&gt;a very good note taking app.
   if you are familiar with nvALT, FSNotes feels much better.&lt;/small&gt;
<a href="#h7-2-59" id="h7-2-59" class="d">-- **aText**
</a><a href="#h7-2-60" id="h7-2-60" class="i">+
</a><a href="#h7-2-61" id="h7-2-61" class="i">+### Previous Apps
</a><a href="#h7-2-62" id="h7-2-62" class="i">+
</a><a href="#h7-2-63" id="h7-2-63" class="i">+- **Canary mail** → Apple Mail
</a><a href="#h7-2-64" id="h7-2-64" class="i">+  &lt;small&gt;lightweight email client with configurable keyboard shortcuts, and PGP encryption&lt;/small&gt;
</a><a href="#h7-2-65" id="h7-2-65" class="i">+- **Reeder 4** → **NetNewsWire**
</a><a href="#h7-2-66" id="h7-2-66" class="i">+  &lt;small&gt;beautiful and gesture-based RSS Reader.&lt;/small&gt;
</a><a href="#h7-2-67" id="h7-2-67" class="i">+- **BusyCal** → Apple Calendar
</a><a href="#h7-2-68" id="h7-2-68" class="i">+- **Emacs** → **Obsidian**
</a><a href="#h7-2-69" id="h7-2-69" class="i">+  &lt;small&gt;Org-roam is an awesome minor package for Org-mode.
</a><a href="#h7-2-70" id="h7-2-70" class="i">+  Read [my post about this](/posts/2020-06-org-mode-with-org-roam/).&lt;/small&gt;
</a><a href="#h7-2-71" id="h7-2-71" class="i">+- **Worldbrain&#39;s Memex 2** → **DEVONthink**
</a><a href="#h7-2-72" id="h7-2-72" class="i">+  &lt;small&gt;Browser extension to bookmark, highlight and annotate any site.
</a><a href="#h7-2-73" id="h7-2-73" class="i">+  With full text search and grouping, this is a good service for knowledge gathering.&lt;/small&gt;
</a><a href="#h7-2-74" id="h7-2-74" class="i">+- **Historio.us** → **DEVONthink**
</a><a href="#h7-2-75" id="h7-2-75" class="i">+  &lt;small&gt;Web archiver. It supports full text search and tagging.
</a><a href="#h7-2-76" id="h7-2-76" class="i">+  I use this side-by-side with **Memex 2**.&lt;/small&gt;
</a><a href="#h7-2-77" id="h7-2-77" class="i">+- **aText** → **Keyboard Maestro**
</a>   &lt;small&gt;alternative to TextExpander that is single purchase.
   my template to make Zettelkasten [is here](/blogging-and-noting.atext).&lt;/small&gt;
 
<b>diff --git a/<a id="h8" href="../file/layouts/_default/_markup/render-link.html.html">layouts/_default/_markup/render-link.html</a> b/<a href="../file/layouts/_default/_markup/render-link.html.html">layouts/_default/_markup/render-link.html</a></b>
<a href="#h8-0" id="h8-0" class="h">@@ -26,7 +26,7 @@
</a>     {{ $brand = &quot;hacker-news&quot; }}
   {{ else if eq $domain &quot;git.ybbond.dev&quot; }}
     {{ $brand = &quot;git-alt&quot; }}
<a href="#h8-0-3" id="h8-0-3" class="d">-  {{ else if or (eq $domain &quot;wikipedia.com&quot;) (eq $domain &quot;wikipedia.org&quot;) }}
</a><a href="#h8-0-4" id="h8-0-4" class="i">+  {{ else if or (eq $domain &quot;wikipedia.com&quot;) (or (eq $domain &quot;wikipedia.com&quot;) (eq $domain &quot;id.wikipedia.org&quot;)) }}
</a>     {{ $brand = &quot;wikipedia-w&quot; }}
   {{ end}}
 
<a href="#h8-1" id="h8-1" class="h">@@ -51,4 +51,4 @@
</a>     {{ else }}
       data-rel=&quot;prefetch&quot;
     {{ end }}
<a href="#h8-1-3" id="h8-1-3" class="d">-&gt;{{ .Text | safeHTML }}{{if and (ne false $not_internal) (ne $domain &quot;ybbond.goatcounter.com&quot;) }}&amp;nbsp;&lt;i class=&quot;fab fa-{{ $brand }}&quot;&gt;&lt;/i&gt;{{ end }}&lt;/a&gt;</a><a href="#h8-1-4" id="h8-1-4" class="d">-
\ No newline at end of file
</a><a href="#h8-1-5" id="h8-1-5" class="i">+&gt;{{ .Text | safeHTML }}{{if and (ne false $not_internal) (ne $domain &quot;ybbond.goatcounter.com&quot;) }}&amp;nbsp;&lt;i class=&quot;fab fa-{{ $brand }}&quot;&gt;&lt;/i&gt;{{ end }}&lt;/a&gt;
</a></pre>
</div>
</div>
</body>
</html>
