<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>index.js - old-ybbond - My old site that was written with ReactJS
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="old-ybbond Atom Feed" href="../../../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>old-ybbond</h1><span class="desc">My old site that was written with ReactJS
</span></td></tr><tr><td></td><td>
<a href="../../../index.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../file/README.md.html">README</a> | <a href="../../../file/LICENSE.md.html">LICENSE</a> | <a href="../../../file/CC-LICENSE.md.html">CC-LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> index.js (229B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> // @flow
<a href="#l2" class="line" id="l2">      2</a> export {default as Button} from &#39;./Button&#39;;
<a href="#l3" class="line" id="l3">      3</a> export {default as HeaderFooter} from &#39;./HeaderFooter&#39;;
<a href="#l4" class="line" id="l4">      4</a> export {default as Link} from &#39;./Link&#39;;
<a href="#l5" class="line" id="l5">      5</a> export {default as List} from &#39;./List&#39;;
<a href="#l6" class="line" id="l6">      6</a> export {default as Text} from &#39;./Text&#39;;
</pre>
</div>
</body>
</html>
