<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Link.js - old-ybbond - My old site that was written with ReactJS
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="old-ybbond Atom Feed" href="../../../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>old-ybbond</h1><span class="desc">My old site that was written with ReactJS
</span></td></tr><tr><td></td><td>
<a href="../../../index.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../file/README.md.html">README</a> | <a href="../../../file/LICENSE.md.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> Link.js (1625B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> // @flow
<a href="#l2" class="line" id="l2">      2</a> import React from &#39;react&#39;;
<a href="#l3" class="line" id="l3">      3</a> import {useHistory, useRouteMatch} from &#39;react-router&#39;;
<a href="#l4" class="line" id="l4">      4</a> import styled, {type StyledComponent} from &#39;styled-components&#39;;
<a href="#l5" class="line" id="l5">      5</a> import theme from &#39;styled-theming&#39;;
<a href="#l6" class="line" id="l6">      6</a> 
<a href="#l7" class="line" id="l7">      7</a> import {colors} from &#39;../Theme/colors&#39;;
<a href="#l8" class="line" id="l8">      8</a> 
<a href="#l9" class="line" id="l9">      9</a> const linkColor = theme(&#39;mode&#39;, {
<a href="#l10" class="line" id="l10">     10</a>   light: colors.linkDark,
<a href="#l11" class="line" id="l11">     11</a>   dark: colors.linkLight,
<a href="#l12" class="line" id="l12">     12</a> });
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> const linkHoverColor = theme(&#39;mode&#39;, {
<a href="#l15" class="line" id="l15">     15</a>   light: colors.brown,
<a href="#l16" class="line" id="l16">     16</a>   dark: colors.orange,
<a href="#l17" class="line" id="l17">     17</a> });
<a href="#l18" class="line" id="l18">     18</a> 
<a href="#l19" class="line" id="l19">     19</a> type LinkProps = {
<a href="#l20" class="line" id="l20">     20</a>   to: string,
<a href="#l21" class="line" id="l21">     21</a>   children: React$Node,
<a href="#l22" class="line" id="l22">     22</a>   rel?: string,
<a href="#l23" class="line" id="l23">     23</a> };
<a href="#l24" class="line" id="l24">     24</a> 
<a href="#l25" class="line" id="l25">     25</a> const LinkBase: StyledComponent&lt;{isCurrentRoute?: boolean}, {}, {}&gt; = styled.a`
<a href="#l26" class="line" id="l26">     26</a>   color: ${({isCurrentRoute}) =&gt; (isCurrentRoute ? linkHoverColor : linkColor)};
<a href="#l27" class="line" id="l27">     27</a>   cursor: pointer;
<a href="#l28" class="line" id="l28">     28</a>   text-decoration: underline solid
<a href="#l29" class="line" id="l29">     29</a>     ${({isCurrentRoute}) =&gt; (isCurrentRoute ? linkHoverColor : linkColor)} 0.5px;
<a href="#l30" class="line" id="l30">     30</a> 
<a href="#l31" class="line" id="l31">     31</a>   &amp;:hover {
<a href="#l32" class="line" id="l32">     32</a>     color: ${linkHoverColor};
<a href="#l33" class="line" id="l33">     33</a>     text-decoration: underline solid ${linkHoverColor} 2px;
<a href="#l34" class="line" id="l34">     34</a>   }
<a href="#l35" class="line" id="l35">     35</a> `;
<a href="#l36" class="line" id="l36">     36</a> 
<a href="#l37" class="line" id="l37">     37</a> const Link = ({children, to, rel, ...props}: LinkProps) =&gt; {
<a href="#l38" class="line" id="l38">     38</a>   const history = useHistory();
<a href="#l39" class="line" id="l39">     39</a> 
<a href="#l40" class="line" id="l40">     40</a>   Link.goTo = (to: string) =&gt; {
<a href="#l41" class="line" id="l41">     41</a>     history.push(to);
<a href="#l42" class="line" id="l42">     42</a>   };
<a href="#l43" class="line" id="l43">     43</a> 
<a href="#l44" class="line" id="l44">     44</a>   const isExternal = to[0] !== &#39;/&#39;;
<a href="#l45" class="line" id="l45">     45</a>   if (isExternal) {
<a href="#l46" class="line" id="l46">     46</a>     return (
<a href="#l47" class="line" id="l47">     47</a>       &lt;LinkBase
<a href="#l48" class="line" id="l48">     48</a>         {...props}
<a href="#l49" class="line" id="l49">     49</a>         target=&quot;_blank&quot;
<a href="#l50" class="line" id="l50">     50</a>         rel={rel ? rel : &#39;noopener noreferrer&#39;}
<a href="#l51" class="line" id="l51">     51</a>         href={to}
<a href="#l52" class="line" id="l52">     52</a>       &gt;
<a href="#l53" class="line" id="l53">     53</a>         {children}
<a href="#l54" class="line" id="l54">     54</a>       &lt;/LinkBase&gt;
<a href="#l55" class="line" id="l55">     55</a>     );
<a href="#l56" class="line" id="l56">     56</a>   }
<a href="#l57" class="line" id="l57">     57</a> 
<a href="#l58" class="line" id="l58">     58</a>   const {isExact = false} = useRouteMatch(to) || {};
<a href="#l59" class="line" id="l59">     59</a>   const handleClick = e =&gt; {
<a href="#l60" class="line" id="l60">     60</a>     e.preventDefault();
<a href="#l61" class="line" id="l61">     61</a>     history.push(to);
<a href="#l62" class="line" id="l62">     62</a>   };
<a href="#l63" class="line" id="l63">     63</a> 
<a href="#l64" class="line" id="l64">     64</a>   return (
<a href="#l65" class="line" id="l65">     65</a>     &lt;LinkBase
<a href="#l66" class="line" id="l66">     66</a>       {...props}
<a href="#l67" class="line" id="l67">     67</a>       href={to}
<a href="#l68" class="line" id="l68">     68</a>       onClick={handleClick}
<a href="#l69" class="line" id="l69">     69</a>       isCurrentRoute={isExact}
<a href="#l70" class="line" id="l70">     70</a>     &gt;
<a href="#l71" class="line" id="l71">     71</a>       {children}
<a href="#l72" class="line" id="l72">     72</a>     &lt;/LinkBase&gt;
<a href="#l73" class="line" id="l73">     73</a>   );
<a href="#l74" class="line" id="l74">     74</a> };
<a href="#l75" class="line" id="l75">     75</a> 
<a href="#l76" class="line" id="l76">     76</a> export default Link;
</pre>
</div>
</body>
</html>
