<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Text.js - old-ybbond - My old site that was written with ReactJS
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="old-ybbond Atom Feed" href="../../../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>old-ybbond</h1><span class="desc">My old site that was written with ReactJS
</span></td></tr><tr><td></td><td>
<a href="../../../index.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../file/README.md.html">README</a> | <a href="../../../file/LICENSE.md.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> Text.js (2146B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> // @flow
<a href="#l2" class="line" id="l2">      2</a> import React from &#39;react&#39;;
<a href="#l3" class="line" id="l3">      3</a> import styled, {
<a href="#l4" class="line" id="l4">      4</a>   css,
<a href="#l5" class="line" id="l5">      5</a>   StyleSheetManager,
<a href="#l6" class="line" id="l6">      6</a>   type StyledComponent,
<a href="#l7" class="line" id="l7">      7</a> } from &#39;styled-components&#39;;
<a href="#l8" class="line" id="l8">      8</a> import theme from &#39;styled-theming&#39;;
<a href="#l9" class="line" id="l9">      9</a> import {colors} from &#39;../Theme/colors&#39;;
<a href="#l10" class="line" id="l10">     10</a> 
<a href="#l11" class="line" id="l11">     11</a> const color = theme.variants(&#39;mode&#39;, &#39;variant&#39;, {
<a href="#l12" class="line" id="l12">     12</a>   default: {
<a href="#l13" class="line" id="l13">     13</a>     light: colors.dark,
<a href="#l14" class="line" id="l14">     14</a>     dark: colors.light,
<a href="#l15" class="line" id="l15">     15</a>   },
<a href="#l16" class="line" id="l16">     16</a>   green: {
<a href="#l17" class="line" id="l17">     17</a>     light: colors.darkGreen,
<a href="#l18" class="line" id="l18">     18</a>     dark: colors.green,
<a href="#l19" class="line" id="l19">     19</a>   },
<a href="#l20" class="line" id="l20">     20</a>   red: {
<a href="#l21" class="line" id="l21">     21</a>     light: colors.brown,
<a href="#l22" class="line" id="l22">     22</a>     dark: colors.orange,
<a href="#l23" class="line" id="l23">     23</a>   },
<a href="#l24" class="line" id="l24">     24</a>   blue: {
<a href="#l25" class="line" id="l25">     25</a>     light: colors.linkDark,
<a href="#l26" class="line" id="l26">     26</a>     dark: colors.linkLight,
<a href="#l27" class="line" id="l27">     27</a>   },
<a href="#l28" class="line" id="l28">     28</a> });
<a href="#l29" class="line" id="l29">     29</a> 
<a href="#l30" class="line" id="l30">     30</a> const mobileSizeResolver = (as?: string) =&gt; {
<a href="#l31" class="line" id="l31">     31</a>   switch (as) {
<a href="#l32" class="line" id="l32">     32</a>     case &#39;h1&#39;:
<a href="#l33" class="line" id="l33">     33</a>       return 1.1;
<a href="#l34" class="line" id="l34">     34</a>     case &#39;h2&#39;:
<a href="#l35" class="line" id="l35">     35</a>       return 1.05;
<a href="#l36" class="line" id="l36">     36</a>     case &#39;h3&#39;:
<a href="#l37" class="line" id="l37">     37</a>       return 1;
<a href="#l38" class="line" id="l38">     38</a>     case &#39;h4&#39;:
<a href="#l39" class="line" id="l39">     39</a>     case &#39;h5&#39;:
<a href="#l40" class="line" id="l40">     40</a>     case &#39;h6&#39;:
<a href="#l41" class="line" id="l41">     41</a>     default:
<a href="#l42" class="line" id="l42">     42</a>       return 0.9;
<a href="#l43" class="line" id="l43">     43</a>   }
<a href="#l44" class="line" id="l44">     44</a> };
<a href="#l45" class="line" id="l45">     45</a> 
<a href="#l46" class="line" id="l46">     46</a> const headingTagResolver = (as?: string) =&gt; {
<a href="#l47" class="line" id="l47">     47</a>   switch (as) {
<a href="#l48" class="line" id="l48">     48</a>     case &#39;h1&#39;:
<a href="#l49" class="line" id="l49">     49</a>       return &#39;# &#39;;
<a href="#l50" class="line" id="l50">     50</a>     case &#39;h2&#39;:
<a href="#l51" class="line" id="l51">     51</a>       return &#39;## &#39;;
<a href="#l52" class="line" id="l52">     52</a>     case &#39;h3&#39;:
<a href="#l53" class="line" id="l53">     53</a>       return &#39;### &#39;;
<a href="#l54" class="line" id="l54">     54</a>     case &#39;h4&#39;:
<a href="#l55" class="line" id="l55">     55</a>       return &#39;#### &#39;;
<a href="#l56" class="line" id="l56">     56</a>     case &#39;h5&#39;:
<a href="#l57" class="line" id="l57">     57</a>       return &#39;##### &#39;;
<a href="#l58" class="line" id="l58">     58</a>     case &#39;h6&#39;:
<a href="#l59" class="line" id="l59">     59</a>       return &#39;###### &#39;;
<a href="#l60" class="line" id="l60">     60</a>     default:
<a href="#l61" class="line" id="l61">     61</a>       return &#39;&#39;;
<a href="#l62" class="line" id="l62">     62</a>   }
<a href="#l63" class="line" id="l63">     63</a> };
<a href="#l64" class="line" id="l64">     64</a> 
<a href="#l65" class="line" id="l65">     65</a> type TextProps = {
<a href="#l66" class="line" id="l66">     66</a>   as?: string,
<a href="#l67" class="line" id="l67">     67</a>   children: React$Node,
<a href="#l68" class="line" id="l68">     68</a>   variant?: &#39;default&#39; | &#39;red&#39; | &#39;green&#39; | &#39;blue&#39;,
<a href="#l69" class="line" id="l69">     69</a> };
<a href="#l70" class="line" id="l70">     70</a> 
<a href="#l71" class="line" id="l71">     71</a> const TextBase: StyledComponent&lt;TextProps, {}, {}&gt; = styled.p`
<a href="#l72" class="line" id="l72">     72</a>   color: ${color};
<a href="#l73" class="line" id="l73">     73</a>   letter-spacing: 0.03rem;
<a href="#l74" class="line" id="l74">     74</a>   line-height: 1.4;
<a href="#l75" class="line" id="l75">     75</a>   word-wrap: break-word;
<a href="#l76" class="line" id="l76">     76</a>   overflow-wrap: break-word;
<a href="#l77" class="line" id="l77">     77</a> 
<a href="#l78" class="line" id="l78">     78</a>   @media (max-width: 599px) {
<a href="#l79" class="line" id="l79">     79</a>     font-size: ${({as}) =&gt; `${mobileSizeResolver(as)}rem`};
<a href="#l80" class="line" id="l80">     80</a>     line-height: 1.45;
<a href="#l81" class="line" id="l81">     81</a>   }
<a href="#l82" class="line" id="l82">     82</a> 
<a href="#l83" class="line" id="l83">     83</a>   ${props =&gt;
<a href="#l84" class="line" id="l84">     84</a>     props.as &amp;&amp; props.as[0] === &#39;h&#39;
<a href="#l85" class="line" id="l85">     85</a>       ? css`
<a href="#l86" class="line" id="l86">     86</a>           &amp;:before {
<a href="#l87" class="line" id="l87">     87</a>             content: ${props =&gt; `&quot;${headingTagResolver(props.as)}&quot;`};
<a href="#l88" class="line" id="l88">     88</a>             font-size: 0.8em;
<a href="#l89" class="line" id="l89">     89</a>           }
<a href="#l90" class="line" id="l90">     90</a>         `
<a href="#l91" class="line" id="l91">     91</a>       : css``}
<a href="#l92" class="line" id="l92">     92</a> `;
<a href="#l93" class="line" id="l93">     93</a> 
<a href="#l94" class="line" id="l94">     94</a> const Text = ({children, ...props}: TextProps) =&gt; {
<a href="#l95" class="line" id="l95">     95</a>   let {as, variant: baseVariant} = props;
<a href="#l96" class="line" id="l96">     96</a>   let variant = baseVariant ?? &#39;default&#39;;
<a href="#l97" class="line" id="l97">     97</a>   if (as &amp;&amp; as[0] === &#39;h&#39;) {
<a href="#l98" class="line" id="l98">     98</a>     variant = &#39;green&#39;;
<a href="#l99" class="line" id="l99">     99</a>   }
<a href="#l100" class="line" id="l100">    100</a>   return (
<a href="#l101" class="line" id="l101">    101</a>     &lt;StyleSheetManager disableVendorPrefixes&gt;
<a href="#l102" class="line" id="l102">    102</a>       &lt;TextBase {...props} as={as} variant={baseVariant ?? variant}&gt;
<a href="#l103" class="line" id="l103">    103</a>         {children}
<a href="#l104" class="line" id="l104">    104</a>       &lt;/TextBase&gt;
<a href="#l105" class="line" id="l105">    105</a>     &lt;/StyleSheetManager&gt;
<a href="#l106" class="line" id="l106">    106</a>   );
<a href="#l107" class="line" id="l107">    107</a> };
<a href="#l108" class="line" id="l108">    108</a> 
<a href="#l109" class="line" id="l109">    109</a> export default Text;
</pre>
</div>
</body>
</html>
