<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>single.html - ybbond - My site. The main domain
</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="ybbond Atom Feed" href="../../../atom.xml" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<table><tr><td><a href="../../../../"><img src="/logo.png" alt="" width="32" height="32" /></a></td><td><h1>ybbond</h1><span class="desc">My site. The main domain
</span></td></tr><tr><td></td><td>
<a href="../../../index.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a></td></tr></table>
<hr/>
<div id="content">
<p> single.html (2016B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> {{ define &quot;main&quot; }}
<a href="#l2" class="line" id="l2">      2</a>   {{ if eq .Type &quot;notes&quot; }}
<a href="#l3" class="line" id="l3">      3</a>     &lt;article&gt;
<a href="#l4" class="line" id="l4">      4</a>       {{- partial &quot;post/notes-item.html&quot; . -}}
<a href="#l5" class="line" id="l5">      5</a>     &lt;/article&gt;
<a href="#l6" class="line" id="l6">      6</a>   {{ else }}
<a href="#l7" class="line" id="l7">      7</a>     &lt;article class=&quot;content h-entry&quot;&gt;
<a href="#l8" class="line" id="l8">      8</a>       &lt;h1 class=&quot;p-name&quot;&gt;{{ .Title }}&lt;/h1&gt;
<a href="#l9" class="line" id="l9">      9</a>       &lt;div id=&quot;h-card&quot; class=&quot;hcard&quot; hidden=&quot;&quot;&gt;
<a href="#l10" class="line" id="l10">     10</a>         &lt;img class=&quot;u-photo&quot; src={{ &quot;logo.png&quot; | absURL }} alt=&quot;Weird photo of yohanes bandung&quot; /&gt;
<a href="#l11" class="line" id="l11">     11</a>         &lt;a class=&quot;p-author h-card&quot; href={{ .Site.Params.MainSiteURL }} rel=&quot;author&quot;&gt;{{ substr .Site.Params.Author 0 20 }}.&lt;/a&gt;
<a href="#l12" class="line" id="l12">     12</a>         &lt;a class=&quot;u-email&quot; href=&quot;mailto:{{ .Site.Params.Email }}&quot;&gt;{{ .Site.Params.Email }}&lt;/a&gt;
<a href="#l13" class="line" id="l13">     13</a>         &lt;a rel=&quot;syndication&quot; class=&quot;u-syndication&quot; href={{ .Permalink }}&gt;{{ .Title }}&lt;/a&gt;
<a href="#l14" class="line" id="l14">     14</a>         &lt;span class=&quot;p-locality&quot;&gt;Jakarta&lt;/span&gt;, &lt;span class=&quot;p-country-name&quot;&gt;Indonesia&lt;/span&gt;
<a href="#l15" class="line" id="l15">     15</a>         {{ with .Params.tags }}
<a href="#l16" class="line" id="l16">     16</a>           {{ range . }}
<a href="#l17" class="line" id="l17">     17</a>             &lt;a class=&quot;p-category&quot; href={{ (printf  &quot;tags/%s&quot; .) | urlize | absURL }}&gt;{{ . }}&lt;/a&gt;
<a href="#l18" class="line" id="l18">     18</a>           {{ end }}
<a href="#l19" class="line" id="l19">     19</a>         {{ end }}
<a href="#l20" class="line" id="l20">     20</a>       &lt;/div&gt;
<a href="#l21" class="line" id="l21">     21</a>       &lt;div class=&quot;e-content&quot;&gt;
<a href="#l22" class="line" id="l22">     22</a>         {{ partial &quot;components/content.html&quot; .Content }}
<a href="#l23" class="line" id="l23">     23</a>       &lt;/div&gt;
<a href="#l24" class="line" id="l24">     24</a>       {{- if ne .Type &quot;page&quot; }}
<a href="#l25" class="line" id="l25">     25</a>         &lt;hr class=&quot;wm-hr&quot;&gt;
<a href="#l26" class="line" id="l26">     26</a>         {{ partial &quot;post/webmentions-handler.html&quot; . }}
<a href="#l27" class="line" id="l27">     27</a>       {{- else }}
<a href="#l28" class="line" id="l28">     28</a>         &lt;br&gt;
<a href="#l29" class="line" id="l29">     29</a>         &lt;br&gt;
<a href="#l30" class="line" id="l30">     30</a>       {{- end }}
<a href="#l31" class="line" id="l31">     31</a> 
<a href="#l32" class="line" id="l32">     32</a> 
<a href="#l33" class="line" id="l33">     33</a>       &lt;p {{ if eq .Type &quot;page&quot; }}class=&quot;hcard&quot; hidden=&quot;&quot;{{ end }}&gt;
<a href="#l34" class="line" id="l34">     34</a>         &lt;a class=&quot;u-url link-white&quot; href={{ .Permalink }}&gt;Published&lt;/a&gt; on
<a href="#l35" class="line" id="l35">     35</a>         &lt;time title=&quot;{{ .Date.Format &quot;Monday, 02 January 2006 on 15:04:05&quot; }} GMT+7&quot; class=&quot;dt-published&quot; datetime=&quot;{{ .Date.Format &quot;2006-01-02T15:04:05&quot; }}+07:00&quot;&gt;
<a href="#l36" class="line" id="l36">     36</a>         	{{ .Date.Format &quot;02 January 2006&quot; }}&lt;/time&gt;,
<a href="#l37" class="line" id="l37">     37</a>       	for stories like this:&lt;/p&gt;
<a href="#l38" class="line" id="l38">     38</a>       {{ with .Params.tags }}
<a href="#l39" class="line" id="l39">     39</a>         &lt;p&gt;
<a href="#l40" class="line" id="l40">     40</a>           {{ range . }}
<a href="#l41" class="line" id="l41">     41</a>             {{- partial &quot;components/tagitem.html&quot; . -}}
<a href="#l42" class="line" id="l42">     42</a>           {{ end }}
<a href="#l43" class="line" id="l43">     43</a>         &lt;/p&gt;
<a href="#l44" class="line" id="l44">     44</a>       {{ end }}
<a href="#l45" class="line" id="l45">     45</a>       {{ if ne .Type &quot;page&quot; -}}
<a href="#l46" class="line" id="l46">     46</a>         &lt;p&gt;If you have any feedback, please contact me at &lt;a href=&quot;mailto:hi@ybbond.dev&quot;&gt;hi@ybbond.dev&lt;/a&gt;&lt;/p&gt;
<a href="#l47" class="line" id="l47">     47</a>       {{ end -}}
<a href="#l48" class="line" id="l48">     48</a>     &lt;/article&gt;
<a href="#l49" class="line" id="l49">     49</a>   {{ end }}
<a href="#l50" class="line" id="l50">     50</a> {{ end }}</pre>
</div>
</body>
</html>
